/*===================================
=            RTL Styling            =
===================================*/
body {
  direction: rtl;
}
@media only screen and (min-width: 1200px) {
  body.rtl .vc_col-lg-offset-1,
  body.rtl .vc_col-lg-offset-2,
  body.rtl .vc_col-lg-offset-3,
  body.rtl .vc_col-lg-offset-4,
  body.rtl .vc_col-lg-offset-5,
  body.rtl .vc_col-lg-offset-6,
  body.rtl .vc_col-lg-offset-7,
  body.rtl .vc_col-lg-offset-8,
  body.rtl .vc_col-lg-offset-9,
  body.rtl .vc_col-lg-offset-10,
  body.rtl .vc_col-lg-offset-11,
  body.rtl .vc_col-lg-offset-12 {
    margin-left: 0 !important;
  }
  body.rtl .vc_col-lg-offset-1 {
    margin-right: 8.33333333%;
  }
  body.rtl .vc_col-lg-offset-2 {
    margin-right: 16.66666667%;
  }
  body.rtl .vc_col-lg-offset-3 {
    margin-right: 25%;
  }
  body.rtl .vc_col-lg-offset-4 {
    margin-right: 33.33333333%;
  }
  body.rtl .vc_col-lg-offset-5 {
    margin-right: 41.66666667%;
  }
  body.rtl .vc_col-lg-offset-6 {
    margin-right: 50%;
  }
  body.rtl .vc_col-lg-offset-7 {
    margin-right: 58.33333333%;
  }
  body.rtl .vc_col-lg-offset-8 {
    margin-right: 66.66666667%;
  }
  body.rtl .vc_col-lg-offset-9 {
    margin-right: 75%;
  }
  body.rtl .vc_col-lg-offset-10 {
    margin-right: 83.33333333%;
  }
  body.rtl .vc_col-lg-offset-11 {
    margin-right: 91.66666667%;
  }
  body.rtl .vc_col-lg-offset-12 {
    margin-right: 100%;
  }
}
@media (min-width: 993px) {
  .languages-area {
    float: right;
  }
  .navbar-header > * {
    margin-left: 1.5em;
    margin-right: 0;
  }
  .navbar-header > *:last-child {
    margin-left: 0 !important;
  }
  .shopping-container .shop-text {
    margin-left: 0;
    margin-right: 5px;
  }
  .header-search.act-default [role="searchform"] .btn {
    right: auto;
    left: 0;
  }
  .header-advanced .header-search.act-default select {
    border-right: none;
    border-left: 1px solid #efefef;
    padding-right: 1em;
    padding-left: 25px;
  }
  .header-advanced .header-search.act-default [role="searchform"] .btn {
    right: auto;
    left: -1px;
  }
  body.et-vertical-fixed .template-content,
  body.et-vertical-fixed .vc_row[data-vc-full-width],
  body.et-vertical-fixed .rev_slider_wrapper .fullscreen-container,
  body.et-vertical-fixed .rev_slider_wrapper .fullwidthbanner-container {
    padding-left: 0;
    padding-right: 90px;
  }
  .header-vertical:after {
    right: auto;
    left: 0;
  }
  .header-vertical,
  .header-vertical .header-logo {
    left: auto;
    right: 0;
  }
  .header-vertical .hamburger-icon {
    left: auto;
    right: 28px;
  }
  .header-vertical .menu-main-container {
    left: auto;
    right: 90px;
  }
  .header-vertical .menu-main-container,
  .header-vertical .nav-sublist-dropdown,
  .header-vertical .nav-sublist ul {
    transform: translateX(40px);
  }
  .header-vertical .nav-sublist-dropdown,
  .header-vertical .nav-sublist ul {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 1px;
    border-right: none;
    border-left: 1px solid #fff;
  }
  .header-vertical .nav-sublist {
    left: auto;
    right: 100%;
  }
  .header-vertical .menu-item-has-children > a:after {
    right: auto;
    left: 2.5rem;
    content: '\e902';
  }
  .header-hamburger-icon .top-links,
  .header-hamburger-icon .languages-area {
    float: none;
  }
  .rtl .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after,
  #lang_sel a.lang_sel_sel:after {
    right: auto !important;
    left: 10px !important;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }
  .col-md-pull-1 {
    right: -8.33333333%;
  }
  .col-md-pull-2 {
    right: -16.66666667%;
  }
  .col-md-pull-3 {
    right: -25%;
  }
  .col-md-pull-4 {
    right: -33.33333333%;
  }
  .col-md-pull-5 {
    right: -41.66666667%;
  }
  .col-md-pull-6 {
    right: -50%;
  }
  .col-md-pull-7 {
    right: -58.33333333%;
  }
  .col-md-pull-8 {
    right: -66.66666667%;
  }
  .col-md-pull-9 {
    right: -75%;
  }
  .col-md-pull-10 {
    right: -83.33333333%;
  }
  .col-md-pull-11 {
    right: -91.66666667%;
  }
  .col-md-pull-12 {
    right: -100%;
  }
  .col-md-push-1 {
    left: -8.33333333%;
  }
  .col-md-push-2 {
    left: -16.66666667%;
  }
  .col-md-push-3 {
    left: -25%;
  }
  .col-md-push-4 {
    left: -33.33333333%;
  }
  .col-md-push-5 {
    left: -41.66666667%;
  }
  .col-md-push-6 {
    left: -50%;
  }
  .col-md-push-7 {
    left: -58.33333333%;
  }
  .col-md-push-8 {
    left: -66.66666667%;
  }
  .col-md-push-9 {
    left: -75%;
  }
  .col-md-push-10 {
    left: -83.33333333%;
  }
  .col-md-push-11 {
    left: -91.66666667%;
  }
  .col-md-push-12 {
    left: -100%;
  }
  body.rtl .header-search.act-full-width.search-open .search-btn {
    right: auto;
    left: 1em;
  }
  body.rtl .vc_col-md-offset-1,
  body.rtl .vc_col-md-offset-2,
  body.rtl .vc_col-md-offset-3,
  body.rtl .vc_col-md-offset-4,
  body.rtl .vc_col-md-offset-5,
  body.rtl .vc_col-md-offset-6,
  body.rtl .vc_col-md-offset-7,
  body.rtl .vc_col-md-offset-8,
  body.rtl .vc_col-md-offset-9,
  body.rtl .vc_col-md-offset-10,
  body.rtl .vc_col-md-offset-11,
  body.rtl .vc_col-md-offset-12 {
    margin-left: 0 !important;
  }
  body.rtl .vc_col-md-offset-1 {
    margin-right: 8.33333333%;
  }
  body.rtl .vc_col-md-offset-2 {
    margin-right: 16.66666667%;
  }
  body.rtl .vc_col-md-offset-3 {
    margin-right: 25%;
  }
  body.rtl .vc_col-md-offset-4 {
    margin-right: 33.33333333%;
  }
  body.rtl .vc_col-md-offset-5 {
    margin-right: 41.66666667%;
  }
  body.rtl .vc_col-md-offset-6 {
    margin-right: 50%;
  }
  body.rtl .vc_col-md-offset-7 {
    margin-right: 58.33333333%;
  }
  body.rtl .vc_col-md-offset-8 {
    margin-right: 66.66666667%;
  }
  body.rtl .vc_col-md-offset-9 {
    margin-right: 75%;
  }
  body.rtl .vc_col-md-offset-10 {
    margin-right: 83.33333333%;
  }
  body.rtl .vc_col-md-offset-11 {
    margin-right: 91.66666667%;
  }
  body.rtl .vc_col-md-offset-12 {
    margin-right: 100%;
  }
  .global-header-center2 .navbar-header {
    text-align: left;
  }
  .products-list .content-product .product-details {
    padding-right: 30px;
    padding-left: 0;
  }
  .products-list .product-details {
    text-align: right;
  }
  .header-advanced .header-search.act-default input[type="text"] {
    padding-right: 1.07em;
    padding-left: 50px;
  }
  .header-smart-responsive .fixed-header .menu-more .menu-more-toggle:after,
  .header-smart-responsive .header-wrapper .menu-more .menu-more-toggle:after {
    right: auto;
    left: -8px;
  }
  .single-product-sidebar.sidebar-right {
    border-left: none;
    border-right: 1px solid #e1e1e1;
  }
  .single-product-sidebar.sidebar-left {
    border-left: 1px solid #e1e1e1;
    border-right: none;
  }
}
.my-account-link.type-icon-text > a:before {
  margin-right: 0;
  margin-left: 5px;
}
.navbar-header .my-account-link .menu-main-container > ul > li > a i {
  margin-right: 0;
  margin-left: 5px;
}
blockquote {
  padding-left: 20px;
  padding-right: 2.14em;
  border-left: none;
  border-right: 5px solid #e6e6e6;
}
blockquote.style3 {
  border-left: none;
  border-right: 2px solid #e6e6e6;
  padding-left: 0;
  padding-right: 3.57em;
}
blockquote.style3:before {
  left: auto;
  right: -0.49em;
}
blockquote.style3:after {
  left: auto;
  right: -1.71em;
}
.type-product ul,
.content ul,
.type-product ol,
.content ol {
  padding-left: 0;
  padding-right: 20px;
}
.wcml-dropdown > ul {
  padding: 0;
}
.nav-sublist-dropdown ul {
  padding-right: 0;
}
span.dropcap {
  float: right;
  margin-right: 0;
  margin-left: 0.34em;
}
ol.simple > li,
ol.active > li,
ol.squared > li {
  padding: 0.71em 2.14em 0.71em 0;
}
ol.simple > li:before,
ol.active > li:before,
ol.squared > li:before {
  left: auto;
  right: -0.71em;
}
ul.circle > li,
ul.square > li,
ul.arrow > li {
  padding-left: 0;
  padding-right: 1.43em;
}
ul.circle > li:before,
ul.square > li:before,
ul.arrow > li:before {
  left: auto;
  right: 0;
}
ul.arrow > li:before {
  content: "\f104";
  left: auto;
  right: 0.36em;
}
table th:first-child,
table td:first-child {
  padding-left: .71em;
  padding-right: 0;
}
table th:last-child,
table td:last-child {
  padding-right: .71em;
  padding-left: 0;
}
.wpcf7-form {
  text-align: right;
}
.wpcf7-submit {
  float: right;
}
div.wpcf7 .ajax-loader {
  margin-right: 4px;
  margin-left: 0;
}
#cookie-notice {
  left: 1vw;
  right: auto;
}
@media screen and (min-width: 1200px) {
  .swiper-entry:hover .swiper-custom-right {
    left: -105px;
    right: inherit;
  }
  .swiper-entry:hover .swiper-custom-left {
    right: -105px;
  }
  .swiper-entry .swiper-custom-right {
    left: -65px;
    right: inherit;
  }
  .swiper-entry .swiper-custom-left {
    right: -65px;
    left: inherit;
  }
}
.swiper-custom-left,
.mpc-nav-preset--default .mpcslick-prev i {
  left: auto;
  right: -90px;
}
.swiper-entry:hover .swiper-custom-left,
.mpc-carousel__wrapper:hover .mpc-nav-preset--default .mpcslick-prev i {
  left: auto;
  right: -60px;
}
.swiper-custom-right,
.mpc-nav-preset--default .mpcslick-next i {
  right: auto;
  left: -90px;
}
.swiper-entry:hover .swiper-custom-right,
.mpc-carousel__wrapper:hover .mpc-nav-preset--default .mpcslick-next i {
  left: -60px;
  right: auto;
}
.swiper-custom-right:before,
.arrows-hovered .arrow-right:before,
.arrows-hovered > .swiper-container .swiper-custom-right:before,
.mpc-nav-preset--default .mpcslick-next i:before {
  content: '\e902';
}
.swiper-custom-left:before,
.arrows-hovered .arrow-left:before,
.arrows-hovered > .swiper-container .swiper-custom-left:before,
.mpc-nav-preset--default .mpcslick-prev i:before {
  content: '\e904';
}
.swiper-custom-right:after,
.mpc-nav-preset--default .mpcslick-next i:after {
  left: auto;
  right: -10px;
}
.swiper-custom-left:after,
.mpc-nav-preset--default .mpcslick-prev i:after {
  left: -10px;
  right: auto;
}
.arrows-hovered .arrow-right,
.arrows-hovered > .swiper-container .swiper-custom-right {
  right: auto !important;
  left: 0 !important;
  transform: translateX(-5px);
}
.arrows-hovered .arrow-right:hover,
.arrows-hovered > .swiper-container .swiper-custom-right:hover {
  transform: translateX(-3px);
}
.arrows-hovered .arrow-left,
.arrows-hovered > .swiper-container .swiper-custom-left {
  left: auto !important;
  right: 0 !important;
  transform: translateX(5px);
}
.arrows-hovered .arrow-left:hover,
.arrows-hovered > .swiper-container .swiper-custom-left:hover {
  transform: translateX(3px);
}
.vc_row-fluid[data-vc-stretch-content="true"] .swiper-entry .swiper-custom-right,
.vc_row-fluid[data-vc-stretch-content="true"] .swiper-entry:hover .swiper-custom-right {
  right: auto;
  left: 0;
}
.vc_row-fluid[data-vc-stretch-content="true"] .swiper-entry .swiper-custom-left,
.vc_row-fluid[data-vc-stretch-content="true"] .swiper-entry:hover .swiper-custom-left {
  left: auto;
  right: 0;
}
.arrows-long-path .arrow-left,
.arrows-long-path > .swiper-container .swiper-custom-left {
  transform: translateX(100%);
}
.arrows-long-path .arrow-right,
.arrows-long-path > .swiper-container .swiper-custom-right {
  transform: translateX(-100%);
}
.sidebar-slider .swiper-entry .swiper-custom-left,
.sidebar-slider .swiper-entry:hover .swiper-custom-left {
  right: auto;
  left: 20px;
}
.sidebar-slider .swiper-entry .swiper-custom-right,
.sidebar-slider .swiper-entry:hover .swiper-custom-right {
  right: auto;
  left: 0;
}
.arrows-effect-static .swiper-custom-left,
.arrows-effect-static:hover .swiper-custom-left {
  left: auto;
  right: 20px;
}
.arrows-effect-static .swiper-custom-right,
.arrows-effect-static:hover .swiper-custom-right {
  right: auto;
  left: 20px;
}
.mfp-close,
#cboxClose {
  right: auto !important;
  left: 0;
}
.et-vertical-fixed .prev-post {
  left: -225px;
}
.et-vertical-fixed .prev-post:hover {
  left: 0;
}
.et-vertical-fixed .next-post {
  right: -135px;
}
.et-vertical-fixed .next-post:hover {
  right: 90px;
}
.prev-post .post-info,
.next-post .post-info {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
select,
.select2.select2-container--default .select2-selection--single {
  padding: 0 1em 0 2.9em;
  background-position: 12px 50%;
}
.shopping-container .cart-bag,
.et-wishlist-widget a {
  padding-right: 0;
  padding-left: .43em;
}
.cart-bag .badge-number,
.et-wishlist-widget .wishlist-count {
  right: auto;
  left: -2px;
}
.et-wishlist-widget.ico-label-right .wishlist-count,
.shopping-container.ico-label-right .badge-number {
  right: 20px;
  left: auto;
}
.product_list_widget li .product-title,
.wishlist-dropdown li .product-title,
.sidebar-slider li .product-title {
  padding-right: 0;
  padding-left: 20px;
}
.navbar-header:last-child:not(:first-child) .my-account-link .menu-main-container,
.navbar-header:last-child:not(:first-child) .login-link .menu-main-container,
.cart-popup-container,
.wishlist-dropdown,
.my-account-link > .menu-main-container,
.login-link > .menu-main-container {
  left: 0;
  right: auto;
}
.et-blog .post-grid:nth-child(even):not(:first-of-type) {
  padding-right: 0;
  padding-left: 15px;
}
.et-blog .post-grid:nth-child(odd) {
  padding-left: 0;
  padding-right: 15px;
}
.et-blog .post-grid:first-child {
  padding-right: 0;
}
.filter-wrap .filter-content > *:last-child {
  margin-left: 0;
  margin-right: auto;
}
.filter-wrap .products-per-page form {
  margin-left: 0;
  margin-right: 15px;
}
.view-switcher {
  margin-left: 0;
  margin-right: 20px;
}
.view-switcher > div:last-child {
  margin-left: 0;
  margin-right: 10px;
}
.view-switcher > div:first-child {
  margin-right: 10px;
}
.open-filters-btn a {
  padding-left: 0;
  padding-right: 23px;
}
.open-filters-btn a i {
  left: auto;
  right: 0;
}
.shop-filters-area .sidebar-widget {
  float: right;
}
.onsale,
.sale-value {
  left: auto;
  right: 20px;
}
.product-images .onsale {
  right: 35px;
  left: auto;
}
.products-list .content-product .star-rating {
  margin-left: auto;
  margin-right: 0;
}
.footer-product .button:before {
  margin-right: 0;
  margin-left: 5px;
}
.product-view-default .et-wishlist-holder {
  right: auto;
  left: 18px;
}
.product-view-mask2 .footer-product {
  left: 0;
  right: auto;
  transform: translateX(-5px);
}
.product-view-light .show-quickly {
  margin-right: 0;
  margin-left: 10px;
}
.product-view-light .yith-wcwl-add-to-wishlist .loader-circular {
  left: auto;
  right: -6px;
}
.products-grid .product-view-light .st-swatch-in-loop,
.product-slide .product-view-light .st-swatch-in-loop,
.et-offer .product-view-light .st-swatch-in-loop,
.products-grid .product-view-light .light-left-side > *:first-child,
.product-slide .product-view-light .light-left-side > *:first-child,
.et-offer .product-view-light .light-left-side > *:first-child {
  padding-right: 0;
  padding-left: 42px;
}
.footer-product .et-wishlist-holder:after {
  left: auto;
  right: 0;
}
.footer-product .show-quickly:after {
  right: auto;
  left: 0;
}
/* et offer */
.et-offer.no-image .onsale,
.et-offer.no-image .sale-value {
  left: auto;
  right: 0;
}
.single-product-booking .product-side-information {
  float: left;
}
a.reset_variations {
  margin-left: 0;
  margin-right: 1rem;
}
.product_meta .wcml-dropdown a.wcml-cs-item-toggle {
  padding-right: 0;
}
.add_to_cart_button .loader-circular,
.show-quickly .loader-circular {
  left: auto;
  right: calc(50% - 15px);
}
@media only screen and (min-width: 650px) {
  .swiper-vertical-images .vertical-thumbnails {
    padding-right: 0;
    padding-left: 10px;
  }
  .swiper-vertical-images .vertical-thumbnails .swiper-custom-left {
    right: 0;
    left: auto !important;
  }
  .swiper-vertical-images .vertical-thumbnails .swiper-custom-right {
    left: 0;
    right: auto !important;
  }
}
.tabs .accordion-title a {
  padding-right: 0;
  padding-left: 14px;
}
.tabs .accordion-title a:after {
  right: auto;
  left: 0;
}
.widget_search input,
.widget_product_search input,
.woocommerce-product-search input {
  padding-right: 1.07em;
  padding-left: calc(2.642rem + 1.07em);
}
.widget_product_categories.sidebar-widget ul li > ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li > a,
.sidebar-widget ul li > ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li > a,
.sidebar-widget ul li > ul.sub-menu li > a {
  padding-left: 0;
  padding-right: 15px;
}
.widget_product_categories.sidebar-widget ul li > ul.children li ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.children li > a,
.sidebar-widget ul li > ul.children li ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.children li > a,
.sidebar-widget ul li > ul.sub-menu li ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.children li ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.sub-menu li > a,
.sidebar-widget ul li > ul.children li ul.sub-menu li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.sub-menu li > a,
.sidebar-widget ul li > ul.sub-menu li ul.sub-menu li > a {
  padding-left: 0;
  padding-right: 20px;
}
.widget_product_categories.sidebar-widget ul li > ul.children li ul.children ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.children ul.children li > a,
.sidebar-widget ul li > ul.children li ul.children ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.children ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.children ul.children li > a,
.sidebar-widget ul li > ul.sub-menu li ul.children ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.children li ul.sub-menu ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.sub-menu ul.children li > a,
.sidebar-widget ul li > ul.children li ul.sub-menu ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.sub-menu ul.children li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.sub-menu ul.children li > a,
.sidebar-widget ul li > ul.sub-menu li ul.sub-menu ul.children li > a,
.widget_product_categories.sidebar-widget ul li > ul.children li ul.children ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.children ul.sub-menu li > a,
.sidebar-widget ul li > ul.children li ul.children ul.sub-menu li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.children ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.children ul.sub-menu li > a,
.sidebar-widget ul li > ul.sub-menu li ul.children ul.sub-menu li > a,
.widget_product_categories.sidebar-widget ul li > ul.children li ul.sub-menu ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.children li ul.sub-menu ul.sub-menu li > a,
.sidebar-widget ul li > ul.children li ul.sub-menu ul.sub-menu li > a,
.widget_product_categories.sidebar-widget ul li > ul.sub-menu li ul.sub-menu ul.sub-menu li > a,
.wpb_widgetised_column .widget_product_categories ul li > ul.sub-menu li ul.sub-menu ul.sub-menu li > a,
.sidebar-widget ul li > ul.sub-menu li ul.sub-menu ul.sub-menu li > a {
  padding-left: 0;
  padding-right: 30px;
}
.widget_product_categories.sidebar-widget ul .open-this,
.wpb_widgetised_column .widget_product_categories ul .open-this,
.sidebar-widget ul .open-this,
.widget_product_categories.sidebar-widget ul .caret-icon,
.wpb_widgetised_column .widget_product_categories ul .caret-icon,
.sidebar-widget ul .caret-icon {
  right: auto;
  left: 0;
}
.widget_layered_nav_filters li.chosen a {
  padding: 0 24px 0 0 !important;
}
.widget_layered_nav_filters li.chosen a:before {
  left: auto;
  right: 0;
}
.menu-element:not(.horizontal) .menu-item-has-children .nav-sublist-dropdown,
.menu-element:not(.horizontal) .menu-item-has-children .nav-sublist ul {
  left: auto;
  right: 100%;
}
.menu-element:not(.horizontal).submenu-left .menu-item-has-children .nav-sublist-dropdown,
.menu-element:not(.horizontal).submenu-left .menu-item-has-children .nav-sublist ul {
  left: 100%;
  right: auto;
}
.menu-element .menu .menu-item-has-children > a:after {
  content: "\e902";
  right: auto;
  left: 0;
}
.menu-element.submenu-left .menu > li > a {
  padding-left: 10px;
  padding-right: 20px;
}
.menu-element.submenu-left .menu > li > a:after {
  left: auto;
  right: 0 !important;
}
.menu-element.submenu-left .menu .menu-item-has-children > a:after {
  content: "\e904";
}
.menu-element.submenu-left .menu .nav-sublist-dropdown li > a {
  padding-right: 3.5rem;
  padding-left: 1.9em;
}
.menu-element.submenu-left .menu .nav-sublist-dropdown li > a:after {
  left: auto;
  right: 2.5rem;
}
.after-shop-loop .et-right-arrow:before,
.etheme-pagination .et-right-arrow:before,
.dokan-pagination-container .dokan-pagination .et-right-arrow:before {
  content: "\e902";
}
.after-shop-loop .et-left-arrow:before,
.etheme-pagination .et-left-arrow:before,
.dokan-pagination-container .dokan-pagination .et-left-arrow:before {
  content: "\e904";
}
.dokan-pagination-container .dokan-pagination li:last-child,
.after-shop-loop li:last-child,
.etheme-pagination li:last-child {
  margin-right: 4px;
  margin-left: 0;
}
.dokan-pagination-container .dokan-pagination li:first-child,
.after-shop-loop li:first-child,
.etheme-pagination li:first-child {
  margin-left: 4px;
  margin-right: 0;
}
.etheme-pagination .next:before {
  content: '\e902';
}
.etheme-pagination .prev:before {
  content: '\e904';
}
.wc-layered-nav-term a,
.wc-layered-nav-rating a,
.etheme_widget_brands_filter li a,
.sidebar .st-swatch-preview .type-select a {
  padding: 0 24px 0 0 !important;
}
.wc-layered-nav-term a:before,
.wc-layered-nav-rating a:before,
.etheme_widget_brands_filter li:not(.all-items) a:before,
.sidebar .st-swatch-preview .type-select a:before {
  left: auto;
  right: 0;
}
.wc-layered-nav-term.chosen a:after,
.wc-layered-nav-rating.chosen a:after,
.etheme_widget_brands_filter .current-item:not(.all-items) a:after,
.sidebar .st-swatch-preview .type-select.selected a:after {
  left: auto;
  right: 1.5px;
}
.archive.woocommerce-page.s_widgets-open-close .sidebar .sidebar-widget:not(.sidebar-slider) .widget-title > span {
  padding-right: 0;
  padding-left: 25px;
}
.archive.woocommerce-page.s_widgets-open-close .sidebar .sidebar-widget:not(.sidebar-slider) .widget-title > span:after {
  right: auto;
  left: 0;
}
.archive.woocommerce-page.s_widgets-open-close .sidebar .sidebar-widget:not(.sidebar-slider) > ul,
.archive.woocommerce-page.s_widgets-open-close .shop-filters .sidebar-widget:not(.sidebar-slider) > ul,
.archive.woocommerce-page.s_widgets-open-close .sidebar .sidebar-widget:not(.sidebar-slider) > .menu-element,
.archive.woocommerce-page.s_widgets-open-close .shop-filters .sidebar-widget:not(.sidebar-slider) > .menu-element {
  padding-right: 0;
  padding-left: 10px;
}
.archive.woocommerce-page.s_widgets-with-scroll .sidebar .cart-widget-products .remove,
.archive.woocommerce-page.s_widgets-with-scroll .shop-filters .cart-widget-products .remove {
  right: auto;
  left: 5px;
}
.archive.woocommerce-page.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > ul,
.archive.woocommerce-page.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > ul,
.archive.woocommerce-page.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > .menu-element,
.archive.woocommerce-page.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > .menu-element {
  padding-right: 0 !important;
  padding-left: 10px;
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
.dokan-info,
.mc4wp-alert {
  padding-left: 1.2em !important;
  padding-right: calc(1.2em + 25px) !important;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button,
.dokan-info .button,
.mc4wp-alert .button {
  float: left;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before,
.dokan-info:before,
.mc4wp-alert:before {
  left: auto;
  right: 20px;
}
.woocommerce table.wishlist_table .product-add-to-cart {
  padding-left: 0;
  padding-right: .71em;
}
#shipping_method input[type="radio"] {
  margin-left: 0;
  margin-right: 8px;
}
.actions > div:first-child {
  padding-left: 15px;
  padding-right: 0;
}
.actions > div:last-child {
  padding-right: 15px;
  padding-left: 0;
}
.actions .to_open-coupon i {
  display: inline-block;
  margin-right: 0;
  margin-left: 5px;
}
.return-shop {
  margin-left: 15px;
  margin-right: 0;
}
.coupon input[type="submit"] {
  right: auto;
  left: 0;
}
.coupon input[type="text"] {
  padding-right: 1.07em;
  padding-left: 41px;
}
.woocommerce-form-login-toggle .woocommerce-info:before,
.woocommerce-form-coupon-toggle .woocommerce-info:before {
  margin-right: 0;
  margin-left: 5px;
}
.wpcf7-form-control.wpcf7-submit.submit {
  float: right;
}
.next-post .button:before {
  left: auto;
  right: -2px;
}
.prev-post .button:before {
  left: -2px;
  right: auto;
}
.fullscreen-menu .hamburger-icon {
  right: auto;
  left: 50px;
}
.pswp__button {
  right: auto;
  left: 0;
}
.wpcf7-form-control-wrap input {
  margin-left: auto;
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_title .vc_toggle_icon {
  left: auto;
  right: 0;
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_title {
  padding-left: 0;
  padding-right: 33px;
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title {
  padding-left: 0;
  padding-right: 24.2px;
}
body.rtl #etheme-popup .checkbox-label {
  left: auto;
  right: 60px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
textarea {
  text-align: right;
}
.back-top {
  right: auto;
  left: 30px;
  transform: translate(-20px);
}
@media (min-width: 768px) {
  body.rtl .col-sm-1,
  body.rtl .col-sm-2,
  body.rtl .col-sm-3,
  body.rtl .col-sm-4,
  body.rtl .col-sm-5,
  body.rtl .col-sm-6,
  body.rtl .col-sm-7,
  body.rtl .col-sm-8,
  body.rtl .col-sm-9,
  body.rtl .col-sm-10,
  body.rtl .col-sm-11,
  body.rtl .col-sm-12 {
    float: right;
  }
  body.rtl .vc_col-sm-offset-1,
  body.rtl .vc_col-sm-offset-2,
  body.rtl .vc_col-sm-offset-3,
  body.rtl .vc_col-sm-offset-4,
  body.rtl .vc_col-sm-offset-5,
  body.rtl .vc_col-sm-offset-6,
  body.rtl .vc_col-sm-offset-7,
  body.rtl .vc_col-sm-offset-8,
  body.rtl .vc_col-sm-offset-9,
  body.rtl .vc_col-sm-offset-10,
  body.rtl .vc_col-sm-offset-11,
  body.rtl .vc_col-sm-offset-12 {
    margin-left: 0 !important;
  }
  body.rtl .vc_col-sm-offset-1 {
    margin-right: 8.33333333%;
  }
  body.rtl .vc_col-sm-offset-2 {
    margin-right: 16.66666667%;
  }
  body.rtl .vc_col-sm-offset-3 {
    margin-right: 25%;
  }
  body.rtl .vc_col-sm-offset-4 {
    margin-right: 33.33333333%;
  }
  body.rtl .vc_col-sm-offset-5 {
    margin-right: 41.66666667%;
  }
  body.rtl .vc_col-sm-offset-6 {
    margin-right: 50%;
  }
  body.rtl .vc_col-sm-offset-7 {
    margin-right: 58.33333333%;
  }
  body.rtl .vc_col-sm-offset-8 {
    margin-right: 66.66666667%;
  }
  body.rtl .vc_col-sm-offset-9 {
    margin-right: 75%;
  }
  body.rtl .vc_col-sm-offset-10 {
    margin-right: 83.33333333%;
  }
  body.rtl .vc_col-sm-offset-11 {
    margin-right: 91.66666667%;
  }
  body.rtl .vc_col-sm-offset-12 {
    margin-right: 100%;
  }
}
.quick-view-popup .product-information {
  right: auto;
  left: 0;
  padding-right: 15px;
  padding-left: 20px;
}
.my-account-link > ul {
  left: auto;
  right: -10px;
}
.quick-view-popup .quick-view-excerpts .excerpt-title {
  padding-right: 0;
  padding-left: 1em;
}
.quick-view-popup .quick-view-excerpts .excerpt-title:before {
  right: auto;
  left: 0;
}
.mobile-menu-wrapper {
  left: auto;
  right: 0;
  transform: translateX(300px);
}
.mobile-menu-wrapper .header-search [role="searchform"] .btn {
  right: auto;
  left: 0;
}
.mobile-menu-wrapper .header-search input[type="text"] {
  padding-left: 40px;
  padding-right: 1.07em;
}
.mobile-menu-wrapper .menu li a,
.mobile-menu-wrapper .links li a,
.mobile-menu-wrapper .menu-element .menu li a {
  padding-right: 20px;
  padding-left: 23px;
}
.mobile-menu-wrapper .menu .menu-back a:before {
  content: '\e904';
  float: right;
  margin-right: 0;
  margin-left: 3px;
}
.mobile-menu-wrapper .menu li .open-child {
  padding-right: 0;
  padding-left: 23px;
}
.mobile-menu-wrapper .menu li .open-child:before {
  content: '\e902';
}
.mobile-menu-wrapper .menu .sub-menu {
  transform: translateX(-50%);
}
.mobile-menu-wrapper .my-account-link > a:before,
.mobile-menu-wrapper .login-link > a:before {
  margin-right: 0;
  margin-left: 5px;
}
.open-filters-btn {
  margin-right: 0;
  margin-left: 10px;
}
.et-header-full-width .header-logo {
  padding-left: 0;
  padding-right: 1.14em;
}
.et-header-full-width .navbar-toggle {
  left: auto;
  right: 20px;
}
.et-header-full-width .top-links,
.et-header-full-width .top-links:last-child {
  padding-right: 0;
  padding-left: 15px;
}
.et-header-full-width .navbar-header {
  padding-right: 0;
  padding-left: 1.14rem;
}
.et-header-full-width .languages-area > *:first-child {
  padding-left: 0;
  padding-right: 15px;
}
.top-links {
  float: left;
}
.top-links .menu > li:first-child,
.top-links .links > li:first-child {
  padding-left: 15px;
  padding-right: 0;
}
.top-links > *,
.top-links .menu > li,
.top-links .links > li {
  border-right: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.top-links > *:last-child,
.top-links .menu > li:last-child,
.top-links .links > li:last-child {
  border-left: none;
  padding-right: 15px;
  padding-left: 0;
}
.top-links .navbar-header:not(:first-child) {
  padding-left: 0;
  padding-right: 15px;
}
.languages-area > *,
.languages-area .menu > li,
.languages-area .links > li {
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.languages-area > *:first-child,
.languages-area .menu > li:first-child,
.languages-area .links > li:first-child {
  border-right: none;
}
.et-follow-buttons a:first-child {
  margin-left: 7px !important;
  margin-right: 0;
}
.et-follow-buttons a:last-child {
  margin-right: 7px !important;
  margin-left: 0;
}
.et-follow-buttons.buttons-size-normal a:first-child {
  margin-left: 9px !important;
}
.et-follow-buttons.buttons-size-normal a:last-child {
  margin-right: 9px !important;
}
.et-follow-buttons.buttons-size-large a:first-child {
  margin-left: 10px !important;
}
.et-follow-buttons.buttons-size-large a:last-child {
  margin-right: 10px !important;
}
#lang_sel ul ul a {
  padding: 5px 15px 5px 0;
}
.price_slider_wrapper .price_slider_amount {
  text-align: right;
}
.price_slider_wrapper .button {
  float: left;
}
.widget_search button,
.widget_product_search button,
.woocommerce-product-search button {
  right: auto;
  left: 0;
}
.footer-bottom .footer-copyrights-right {
  text-align: left;
}
.top-bar .menu-element.horizontal ul.menu > li:last-child > a {
  padding-left: 0;
}
.top-bar .menu-element.horizontal ul.menu > li:first-child > a {
  padding-right: 0;
}
.top-bar .header-search.act-full-width .search-form-wrapper {
  left: auto;
  right: 15px;
}
.topbar-widget.etheme_widget_socials .widget-title {
  margin-right: 0;
  margin-left: 5px;
}
.menu-wrapper .menu li.menu-label-new > a,
.menu-wrapper .menu li.menu-label-hot > a,
.menu-wrapper .menu li.menu-label-sale > a {
  padding-left: 0;
}
.menu-wrapper .menu > li > a i,
.secondary-menu-wrapper .menu > li > a i,
.mobile-menu-wrapper .menu > li > a i,
.mobile-menu-wrapper .sub-menu > li > a i {
  margin-right: 0;
  margin-left: 5px;
}
.navigation-wrapper .menu-wrapper:first-child > .menu-main-container > .menu > li:first-child > a,
.container-wrapper > .header-logo + .menu-wrapper > .menu-main-container > .menu > li:first-child > a {
  padding-left: 0.535em;
}
.navigation-wrapper .menu-wrapper:first-child > .menu-main-container > .menu > li:last-child > a,
.container-wrapper > .header-logo + .menu-wrapper > .menu-main-container > .menu > li:last-child > a {
  padding-right: 0;
}
.et-secondary-menu-on .menu-wrapper.menu-align-left > .menu-main-container {
  margin-right: 0;
  margin-left: auto;
}
.et-secondary-menu-on .secondary-menu-wrapper .secondary-menu-toggle {
  margin-right: 0 !important;
  margin-left: 7px;
}
.et-secondary-menu-on .secondary-menu-wrapper .secondary-title::after {
  left: 3.1em;
  right: auto !important;
}
.et-secondary-menu-on .secondary-menu-wrapper .menu li.menu-item-has-children > a:before {
  content: '\e902';
  right: auto !important;
  left: 0;
}
.et-secondary-menu-on .secondary-menu-wrapper .menu > li > a {
  padding-right: 0;
  padding-left: 20px;
}
.et-secondary-menu-on .secondary-menu-wrapper .nav-sublist-dropdown {
  left: auto !important;
  right: 100% !important;
}
.et-header-full-width .top-bar .my-account-link ul {
  right: auto;
  left: 0;
}
.page-heading .delimeter .et-icon:before {
  content: "\e902";
}
.woocommerce-MyAccount-navigation {
  margin-right: 0;
  margin-left: 30px;
}
.woocommerce-MyAccount-navigation ul {
  padding-right: 0;
}
.bc-type-left2 .breadcrumbs,
.bc-type-left2 .woocommerce-breadcrumb,
.bc-type-left2 .bbp-breadcrumb {
  margin-right: 0;
  margin-left: 0.285em;
}
a.back-history {
  right: auto;
  left: 15px;
}
a.back-history:before {
  content: '\e904';
  left: auto;
  right: -17px;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  margin-left: 15px;
}
input[type="radio"] {
  margin-right: 0;
  margin-left: 4px;
}
.widget_layered_nav ul li .count {
  right: auto;
  left: 0;
}
.read-more:after {
  content: "\e902";
  right: auto;
  left: -12px;
}
.read-more:hover:after {
  right: auto;
  left: -20px;
}
.read-more:after {
  margin-left: 4px;
  margin-right: 0;
}
.post .meta-post .post-comments-count span:first-child {
  padding-left: 3px;
}
.post .content-article {
  text-align: right;
}
.post-grid .post-categories,
.blog-post .post-categories,
.post-header .post-categories {
  left: auto;
  right: 0;
}
.content-center .post-heading .entry-title,
.content-center .content-article {
  text-align: center;
}
.content-center .content-article .read-more {
  float: none;
}
.woocommerce-billing-fields #billing_first_name_field {
  float: right;
}
.woocommerce-billing-fields #billing_first_name {
  float: left;
}
.content-with-author .post-heading .author-info {
  margin-left: 15px;
  margin-right: 10px;
}
article.content-small .wp-picture,
article.content-chess .wp-picture,
article.content-small .post-gallery-slider,
article.content-chess .post-gallery-slider,
article.content-small .featured-audio,
article.content-chess .featured-audio,
article.content-small .featured-video,
article.content-chess .featured-video,
article.content-small .et_post-slider,
article.content-chess .et_post-slider {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.content-chess:nth-child(even) .wp-picture,
.content-chess:nth-child(even) .post-gallery-slider,
.content-chess:nth-child(even) .featured-audio,
.content-chess:nth-child(even) .featured-video,
.content-chess:nth-child(even) .et_post-slider {
  float: left;
  margin-left: 0;
  margin-right: 30px;
}
.content-framed .content-article .read-more {
  padding: 10px 20px 10px 40px;
}
.content-framed .content-article .read-more:after {
  right: auto;
  left: 12px;
}
article.content-timeline .meta-post-timeline {
  left: 0;
  right: -7.14rem;
}
article.content-timeline .timeline-content,
article.content-timeline2 .timeline-content,
article.content-timeline:before,
article.content-timeline2:before {
  left: auto;
  right: -4.5vw;
}
article.content-timeline2 .timeline-content {
  transform: translate(50%, -50%);
}
article.content-timeline2 .post-data {
  padding-left: 0;
  padding-right: 30px;
}
.sidebar-position-left article.content-timeline .timeline-content,
.sidebar-position-left article.content-timeline2 .timeline-content,
.sidebar-position-left article.content-timeline:before,
.sidebar-position-left article.content-timeline2:before {
  left: -4.5vw;
  right: auto;
}
.sidebar-position-left article.content-timeline2 .timeline-content {
  transform: translate(-50%, -50%);
}
.null-instagram-feed li a .insta-info span.insta-likes:before,
.null-instagram-feed li a .insta-info span.insta-comments:before {
  float: right;
  padding-right: 0;
  padding-left: 6px;
}
.et-mailchimp.classic-button input[type="email"] {
  border-right: 1px solid #e1e1e1;
  border-left: none;
}
.et-mailchimp:not(.classic-button) input[type="submit"] {
  right: auto;
  left: 0;
  border-left: 1px solid;
  border-right: none;
}
.et-mailchimp.dark input[type="submit"] {
  border-right: none;
  border-left: 1px solid #f2f2f2;
}
.product_list_widget .product-list-image {
  float: right;
}
.product_list_widget .product-list-image img {
  margin-right: 0;
  margin-left: 20px;
}
.recent-posts-widget .post-comments:before,
.recent-posts-widget .post-date:before {
  margin-right: 0;
  margin-left: 5px;
}
.etheme_widget_entries_tabs .tabs .tab-title {
  margin-right: 0;
  margin-left: 15px;
}
.recent-posts-widget .post-widget-item .media > a {
  padding-right: 0;
  padding-left: 20px;
}
.recent-posts-widget .post-date {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.recent-posts-widget .post-comments {
  float: right;
}
.media-left,
.media > .pull-left {
  padding-right: 0;
  padding-left: 10px;
}
.pull-left {
  float: right !important;
}
.cart-popup-container {
  left: 0;
  right: auto;
}
.cart-widget-products .product-mini-image {
  float: right !important;
}
.cart-widget-products .product-mini-image img {
  margin-right: 0;
  margin-left: 20px;
}
.cart-widget-products .remove {
  right: auto;
  left: 0;
}
.cart-widget-products .descr-box {
  text-align: right;
}
@media only screen and (max-height: 750px) {
  .navbar-header .cart-widget-products .remove {
    right: auto;
    left: 5px;
  }
}
.cart-popup-container .btn-view-cart {
  text-align: right;
}
.et-wishlist-widget .wishlist-dropdown > p,
.cart-popup-container .product_list_widget > p {
  text-align: right;
}
.main-products-loop .products-list .product .product-details {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
}
.cart_totals th,
.order-review table th {
  text-align: right;
}
.woocommerce-cart .block-title .label {
  margin-left: 0;
  margin-right: 10px;
}
table.order_details tr,
table.shop_table_responsive.customer_details tr,
table.order_details th,
table.shop_table_responsive.customer_details th {
  text-align: right;
}
.my_account_orders td .button:first-of-type {
  margin-left: 5px;
}
.my_account_orders td .button:last-of-type {
  margin-left: 0;
}
.author-info .pull-left {
  float: right !important;
}
.author-info .pull-left img {
  margin-right: 0;
  margin-left: 2.5em;
}
ul.menu-social-icons li {
  float: right;
}
ul.menu-social-icons li:first-child a {
  padding-left: 5px;
}
ul.menu-social-icons li:last-child a {
  padding-right: 5px;
}
.share-post {
  display: inline-block;
  width: 100%;
  float: left;
}
.etheme_widget_qr_code .qr-lighbox {
  float: left;
}
.product_list_widget .product-mini-image,
.product_list_widget .product-list-image,
.sidebar-slider .product-list-image {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.product-information table.variations td.label,
.product-info-wrapper table.variations td.label,
.product-summary-center table.variations td.label {
  text-align: right;
}
.product-information .woocommerce-review-link,
.product-info-wrapper .woocommerce-review-link,
.product-summary-center .woocommerce-review-link {
  margin-right: 5px;
  margin-left: 0;
}
.compare:before,
.yith-wcwl-add-to-wishlist a:before {
  margin-right: 0;
  margin-left: 7px;
}
ul.menu-social-icons {
  padding-right: 0;
}
.product-content .size-guide {
  background-position: 100% center;
  padding: 0 23px 0 0;
}
div.quantity,
td.quantity {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.single_add_to_cart_button.button,
.quick-view-popup .product_type_variable,
.quick-view-popup .product_type_grouped,
.quick-view-popup .product_type_external {
  margin-right: 0;
  margin-left: .4rem;
}
.single_add_to_cart_button:before {
  margin-right: 0;
  margin-left: 5px;
}
.shop_attributes td,
.shop_attributes th {
  padding-right: 0;
  padding-left: 0.71em;
}
.open-360-popup {
  left: auto;
  right: 20px;
}
.form-row-first,
.form-row-last {
  float: right;
  padding: 0 0 15px 0;
}
.form-row.form-row-last {
  float: left;
}
.form-row-last {
  padding: 0 15px 0 0;
}
.shop_table dt,
.shop_table dd:nth-child(even) {
  margin-right: 0;
  margin-left: 5px;
}
#payment ul.wc_payment_methods {
  padding-left: 20px;
  padding-right: 0;
}
.wc_payment_methods li,
.order_item li {
  list-style: none;
}
#lang_sel li {
  width: auto;
}
.share-post .share-title {
  float: right;
  line-height: 1;
}
.shop_attributes th {
  text-align: right;
}
.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-content {
  padding-right: 0;
  padding-left: 28px;
}
.flexslider .flex-control-nav {
  padding-right: 0;
}
.pp_content_container {
  font-size: 0;
}
.flexslider .flex-direction-nav a:before {
  margin-right: -4px;
  margin-left: 0;
}
.wpb_gallery .wpb_flexslider .flex-control-nav {
  margin-top: 25px;
}
.flexslider .flex-direction-nav .flex-prev:before {
  margin-left: -4px;
}
.portfolio-single-item .share-title {
  float: right;
}
.content-product .product-image-wrapper {
  direction: rtl;
}
.label-text {
  margin-left: 0;
  margin-right: 9px;
}
.label-text:before {
  transform: translateY(-50%) rotate(180deg);
  left: auto;
  right: -8px;
}
.nav-sublist-dropdown {
  left: auto;
  right: 0;
}
.item-design-dropdown .nav-sublist-dropdown {
  right: auto;
}
.item-design-dropdown .nav-sublist-dropdown ul > li.menu-item-has-children > a:after {
  right: auto;
  left: 2.5em;
  content: "\e902";
}
.item-design-dropdown .nav-sublist-dropdown ul > li ul {
  left: auto;
  right: 100%;
}
#review_form .stars {
  display: inline-block;
  width: 100%;
}
#review_form .stars a {
  float: right;
}
.fullscreen-menu .navbar-collapse {
  overflow: hidden;
}
/* Headers */
.header-logo + .secondary-menu-wrapper {
  margin-right: 10px;
  margin-left: auto;
}
.header-center .header-logo {
  padding-right: 0;
}
.header-center .navbar-header {
  text-align: left;
}
.header-hamburger-icon .navbar-header .languages-area .wpml-ls-sub-menu,
.header-hamburger-icon .navbar-header .languages-area .wcml-cs-submenu {
  text-align: right;
}
.header-hamburger-icon .languages-area > *,
.global-header-hamburger-icon .languages-area > *,
.header-hamburger-icon .fixed-header .languages-area > *,
.global-header-hamburger-icon .fixed-header .languages-area > *,
.header-hamburger-icon .top-links > *,
.global-header-hamburger-icon .top-links > *,
.header-hamburger-icon .fixed-header .top-links > *,
.global-header-hamburger-icon .fixed-header .top-links > * {
  margin-right: 0;
  margin-left: 1.5rem;
}
.header-vertical .header-logo {
  padding-right: 0;
}
.shop-top-bar .top-bar .show-in-tb-right > *:first-child {
  margin-left: 20px;
}
.shop-top-bar .top-bar .show-in-tb-right > *:last-child {
  margin-left: 0;
}
.my-account-link.type-icon-text > a:before,
.login-link.type-icon-text > a:before {
  margin-right: 0;
  margin-left: 5px;
}
.fixed-header .header-logo {
  margin-left: auto;
  margin-right: 0;
}
.fixed-header .navbar-header {
  margin-right: auto;
  margin-left: 0;
}
.wpcf7-form .form-group p {
  float: right;
}
.wpcf7-form .form-group p:first-child {
  padding-left: 15px;
  padding-right: 0;
}
.wpcf7-form .form-group p:last-child {
  padding-right: 15px;
  padding-left: 0;
}
/* Woocommerce account */
.col2-set .col-1,
.col2-set .col-2,
#customer_login > div {
  float: right;
}
.col2-set .col-1 {
  margin-right: 0;
  margin-left: 60px;
}
form.login .lost_password,
form.register .lost_password,
.login-link .lost-password {
  float: left;
}
@media only screen and (max-width: 992px) {
  .woocommerce-account .woocommerce .u-columns .u-column2 {
    padding-right: 0;
  }
  .navbar-toggle {
    left: auto;
    right: 0;
  }
  .navbar-header {
    right: auto;
    left: 0;
  }
  .navbar-header > * {
    margin-left: 1.5rem;
    margin-right: 0;
  }
  .et-header-full-width .navbar-header {
    padding-right: 0;
    padding-left: 20px;
  }
  .et-header-full-width .header-wrapper .navbar-toggle {
    left: auto;
    right: 20px;
  }
  blockquote.style3:before,
  blockquote.style3:after {
    display: none;
  }
}
.category-grid .categories-mask {
  direction: rtl;
}
.left-bar .left-titles {
  float: right;
}
.left-bar .left-titles li {
  border-right: 1px solid #e1e1e1;
  border-left: none;
  margin-right: 0;
  margin-left: -1px;
}
.left-bar .left-titles li:after {
  right: auto;
  left: 0;
}
.left-bar .left-titles .wc-tabs {
  padding-right: 0;
}
.results-ajax-list {
  border-left: none;
  border-right: 1px solid #e1e1e1;
}
.results-ajax-list li,
.results-ajax-list .ajax-list-image,
.results-ajax-list .product-list-image {
  float: right;
}
.results-ajax-list img {
  margin-right: 0;
  margin-left: 20px;
}
.search-results-title a {
  float: left;
}
.quick-view-popup .quick-view-excerpts .excerpt-content .excerpt-content-inner {
  text-align: right;
  padding-left: 15px;
  padding-right: 0;
}
.quick-view-popup .product-information .products-page-cats {
  text-align: right;
}
table.cart .product-details {
  text-align: right;
}
.woocommerce table.wishlist_table .product-name {
  text-align: right;
}
#review_form .stars a {
  margin-right: 0;
  margin-left: 15px;
}
#review_form .stars a:last-child {
  margin-right: 0;
}
#reviews .commentlist .star-rating {
  margin-left: 5px;
}
.commentlist {
  padding-right: 0 !important;
}
.commentlist .avatar {
  float: right;
}
.commentlist .comment-text {
  padding-left: 0;
  padding-right: 110px;
}
.commentlist .star-rating {
  float: left;
}
.commentlist .meta {
  margin-bottom: 0;
}
.widget_product_categories.sidebar-widget ul li .count,
.wpb_widgetised_column .widget_product_categories ul li .count,
.widget_nav_menu.sidebar-widget ul li .count,
.product-view-light .light-right-side {
  right: auto;
  left: 0;
}
@media only screen and (min-width: 993px) {
  .sidebar-enabled .row-count-5.products-grid .product-view-light .st-swatch-in-loop,
  .row-count-6.products-grid .product-view-light .st-swatch-in-loop,
  .sidebar-enabled .row-count-5.products-grid .light-left-side > *:first-child,
  .row-count-6.products-grid .light-left-side > *:first-child {
    padding-right: 0;
    padding-left: 40px;
  }
  #reviews #comments {
    float: left;
  }
  #reviews #review_form_wrapper {
    float: right;
  }
  .header-wrapper.header-double-menu .menu-wrapper.menu-wrapper {
    padding-right: 160px;
    max-width: none;
  }
  .header-wrapper.header-double-menu .menu-wrapper.menu-wrapper-right {
    padding-right: 0;
    width: 42%;
  }
  .header-wrapper.header-double-menu .menu-wrapper.menu-wrapper-right .menu {
    text-align: center !important;
  }
  .et-header-boxed .header-search.act-full-width .search-form-wrapper {
    left: 0;
    right: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .product-quantity span.minus,
  .product-quantity span.plus {
    right: auto;
    left: 0;
  }
  .product-quantity .quantity input[type="number"] {
    padding-right: 0;
    padding-left: 24px;
    border-right: 1px solid #e1e1e1;
  }
  .back-top {
    left: 15px;
  }
}
/*=====  End of RTL Styling  ======*/
