/*------------------
    transform
------------------*/
/*------------------
    Size
------------------*/
/*------------------
    transition
------------------*/
/*------------------
    border-radius
------------------*/
/*------------------
    box shadow
------------------*/
/*------------------
    animation
------------------*/
/*------------------
    box-sizing
------------------*/
/*------------------
    responsive
------------------*/
.site-breadcrumbs {
  height: auto;
  line-height: inherit; }

.product-category .product-categories {
  display: none; }

body .woovina-row .col {
  padding: 0 15px; }

/* Page Title */
.site-breadcrumbs,
.background-image-page-header .site-breadcrumbs {
  margin: 0; }

.page-header.background-image-page-header .page-header-title {
  color: #333; }

#site-navigation .main-menu > li.full-mega > .sub-menu {
  max-width: 1170px;
  margin: 0 15px; }

/* Header Search */
#woovina-cart-sidebar-wrap .woocommerce-mini-cart__total,
#site-header .elementor-menu-cart__subtotal {
  font-size: 14px;
  background-color: #FAFAFA;
  padding: 15px 20px;
  text-align: right; }
  .rtl #woovina-cart-sidebar-wrap .woocommerce-mini-cart__total, .rtl
  #site-header .elementor-menu-cart__subtotal {
    text-align: left; }
  #woovina-cart-sidebar-wrap .woocommerce-mini-cart__total strong,
  #site-header .elementor-menu-cart__subtotal strong {
    float: left;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase; }
    .rtl #woovina-cart-sidebar-wrap .woocommerce-mini-cart__total strong, .rtl
    #site-header .elementor-menu-cart__subtotal strong {
      float: right; }
  #woovina-cart-sidebar-wrap .woocommerce-mini-cart__total .amount,
  #site-header .elementor-menu-cart__subtotal .amount {
    font-size: 14px;
    color: #333; }

.custom-header .top_wishlist-heart:before {
  font-size: 24px !important;
  width: 40px;
  text-align: center; }

.custom-header .top_wishlist-heart:hover:before {
  color: #333; }

.custom-header .top_wishlist-heart .wishlist_products_counter_number {
  position: absolute;
  min-width: 1.6em;
  height: 1.6em;
  line-height: 1.5em;
  top: -.4em;
  right: 0;
  border-radius: 100%;
  color: #20b9ed;
  background-color: #fff;
  text-align: center;
  font-size: 10px; }

.header-search > div {
  border-radius: 5px; }

.header-search form.woocommerce-product-search {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-search .woocommerce-product-search select,
.header-search .woocommerce-product-search input {
  border: none;
  border-radius: 0; }

.header-search .woocommerce-product-search input {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 65px;
  width: calc(100% - 165px); }
  .rtl .header-search .woocommerce-product-search input {
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .rtl .header-search .woocommerce-product-search input {
    padding-left: 65px;
    padding-right: 0; }

.header-search .woocommerce-product-search select {
  width: 165px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: url("../images/demo-07/down-arrow.png") 90% no-repeat;
  background-size: 6%; }

.header-search .woocommerce-product-search button[type='submit'] {
  height: 40px;
  background-color: #20b9ed;
  font-size: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 0 15px;
  position: absolute;
  right: 0; }
  .rtl .header-search .woocommerce-product-search button[type='submit'] {
    left: 0;
    right: auto; }
  .header-search .woocommerce-product-search button[type='submit']:hover {
    background-color: #333; }
  .header-search .woocommerce-product-search button[type='submit']:before {
    content: '\f002';
    font-family: 'FontAwesome';
    font-size: 18px; }

/* Woocommerce Cart Form */
.woocommerce-cart-form .elementor-menu-cart__footer-buttons .elementor-button:hover {
  background-color: #333 !important; }

@media (max-width: 991px) {
  .woocommerce-cart-form .elementor-menu-cart__footer-buttons .elementor-button {
    background-color: #20b9ed !important;
    color: #fff !important; }
    .woocommerce-cart-form .elementor-menu-cart__footer-buttons .elementor-button:hover {
      background-color: #333 !important; } }

.woocommerce-cart-form .elementor-menu-cart__product-name,
.woocommerce-cart-form .elementor-menu-cart__product-price {
  font-size: 12px; }

/* Banner Home Custom */
.banner-home:hover .elementor-image-box-title a {
  letter-spacing: 1.5px; }

.banner-home:hover .elementor-image-box-img img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

/* Product Style */
body.woocommerce ul.products,
div.woocommerce ul.products {
  margin: 0 -15px; }

body.woocommerce ul.products li.product.onbackorder .outofstock-badge,
div.woocommerce ul.products li.product.onbackorder .outofstock-badge {
  color: #333;
  background-color: rgba(255, 255, 255, 0.9); }

body.woocommerce ul.products li.product.onbackorder .outofstock-badge,
body.woocommerce ul.products li.product.outofstock .outofstock-badge,
div.woocommerce ul.products li.product.onbackorder .outofstock-badge,
div.woocommerce ul.products li.product.outofstock .outofstock-badge {
  text-transform: none;
  width: 95%;
  text-align: center;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 24px;
  margin: auto;
  font-weight: 700; }
  body.woocommerce ul.products li.product.onbackorder .outofstock-badge:before,
  body.woocommerce ul.products li.product.outofstock .outofstock-badge:before,
  div.woocommerce ul.products li.product.onbackorder .outofstock-badge:before,
  div.woocommerce ul.products li.product.outofstock .outofstock-badge:before {
    content: "\f119";
    font-family: FontAwesome;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px; }

body.woocommerce ul.products li.product li.title a,
div.woocommerce ul.products li.product li.title a {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 0 20px;
  line-height: 1.7;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }
  @media (max-width: 767px) {
    body.woocommerce ul.products li.product li.title a,
    div.woocommerce ul.products li.product li.title a {
      padding: 0;
      font-size: 11px;
      height: 40px; } }

body.woocommerce ul.products li.product li.inner,
div.woocommerce ul.products li.product li.inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }
  body.woocommerce ul.products li.product li.inner .star-rating,
  div.woocommerce ul.products li.product li.inner .star-rating {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }

body.woocommerce ul.products li.product .price,
div.woocommerce ul.products li.product .price {
  font-size: 14px;
  font-weight: 700;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  color: #20b9ed; }
  body.woocommerce ul.products li.product .price del .amount,
  div.woocommerce ul.products li.product .price del .amount {
    font-weight: 500; }
  body.woocommerce ul.products li.product .price ins,
  div.woocommerce ul.products li.product .price ins {
    font-weight: 700; }
  body.woocommerce ul.products li.product .price del,
  div.woocommerce ul.products li.product .price del {
    font-weight: 600; }

body.woocommerce ul.products li.product del,
div.woocommerce ul.products li.product del {
  opacity: 1; }

body.woocommerce ul.products li.product .woo-entry-inner li.image-wrap,
div.woocommerce ul.products li.product .woo-entry-inner li.image-wrap {
  overflow: hidden; }
  body.woocommerce ul.products li.product .woo-entry-inner li.image-wrap .woo-entry-image > a,
  div.woocommerce ul.products li.product .woo-entry-inner li.image-wrap .woo-entry-image > a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center; }
    body.woocommerce ul.products li.product .woo-entry-inner li.image-wrap .woo-entry-image > a:before,
    div.woocommerce ul.products li.product .woo-entry-inner li.image-wrap .woo-entry-image > a:before {
      content: "";
      background: rgba(225, 225, 225, 0.65);
      width: 10%;
      height: 10%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      position: absolute;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

body.woocommerce ul.products li.product .outofstock-badge,
div.woocommerce ul.products li.product .outofstock-badge {
  position: absolute;
  min-height: 0;
  min-width: 0;
  border-radius: 0;
  color: #fff;
  padding: 8px 12px;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  z-index: 9; }

body.woocommerce ul.products li.product li.btn-wrap,
div.woocommerce ul.products li.product li.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-bottom: 0;
  z-index: 3; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-addtocart,
  div.woocommerce ul.products li.product li.btn-wrap .btn-addtocart {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: absolute;
    width: 100%;
    bottom: -34px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 0;
    z-index: 3; }
    body.woocommerce ul.products li.product li.btn-wrap .btn-addtocart .button,
    div.woocommerce ul.products li.product li.btn-wrap .btn-addtocart .button {
      width: 100%; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-positions,
  div.woocommerce ul.products li.product li.btn-wrap .btn-positions {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10%;
    opacity: 0;
    width: 100%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: 3; }
    body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner,
    div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner {
      position: relative;
      visibility: visible;
      opacity: 1;
      top: 0;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 4px; }
      body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a,
      div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        font-size: 0;
        visibility: visible;
        opacity: 1;
        padding: 0;
        line-height: 40px;
        text-align: center;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a i,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a i {
          margin: 0; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:before {
          font-family: 'simple-line-icons' !important;
          font-size: 14px;
          color: #333;
          line-height: 40px;
          margin: 0; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added {
          display: block; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.inited-add-wishlist, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.inited-add-wishlist,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover {
          background-color: #20b9ed; }
          body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.inited-add-wishlist:before, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added:before, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover:before,
          div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.inited-add-wishlist:before,
          div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.added:before,
          div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a:hover:before {
            color: #fff; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.wvn-quick-view i:before, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.tinvwl_add_to_wishlist_button:before, body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.compare:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.wvn-quick-view i:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.tinvwl_add_to_wishlist_button:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.compare:before {
          width: 40px;
          display: block; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.compare:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.compare:before {
          font-family: "FontAwesome" !important;
          content: "\f0ec"; }
        body.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.tinvwl_add_to_wishlist_button:before,
        div.woocommerce ul.products li.product li.btn-wrap .btn-positions .btn-inner a.tinvwl_add_to_wishlist_button:before {
          content: "\e08a";
          width: 40px; }
  body.woocommerce ul.products li.product li.btn-wrap .added_to_cart:after,
  div.woocommerce ul.products li.product li.btn-wrap .added_to_cart:after {
    display: none; }
  body.woocommerce ul.products li.product li.btn-wrap .added_to_cart:before,
  div.woocommerce ul.products li.product li.btn-wrap .added_to_cart:before {
    font-family: 'simple-line-icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
    content: '\e035';
    margin-right: 5px;
    vertical-align: bottom; }
    .rtl body.woocommerce ul.products li.product li.btn-wrap .added_to_cart:before, .rtl
    div.woocommerce ul.products li.product li.btn-wrap .added_to_cart:before {
      margin-left: 5px;
      margin-right: 0; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-quickview.loading .wvn-quick-view i,
  div.woocommerce ul.products li.product li.btn-wrap .btn-quickview.loading .wvn-quick-view i {
    display: none; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-quickview.loading .wvn-quick-view:after,
  div.woocommerce ul.products li.product li.btn-wrap .btn-quickview.loading .wvn-quick-view:after {
    content: '\f110';
    position: absolute;
    display: block;
    font-family: 'FontAwesome';
    top: 0;
    font-size: 22px;
    line-height: 40px;
    width: 40px;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart a.button,
  div.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart a.button {
    letter-spacing: 0;
    font-weight: 500;
    text-transform: capitalize;
    height: 34px;
    line-height: 34px;
    padding: 0; }
    body.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart a.button:before,
    div.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart a.button:before {
      font-family: "FontAwesome";
      content: "\f07a";
      margin-right: 8px; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart .added_to_cart,
  div.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart .added_to_cart {
    width: 100%;
    text-align: center; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart .tooltip,
  div.woocommerce ul.products li.product li.btn-wrap .btn-inner.btn-addtocart .tooltip {
    display: none; }
  body.woocommerce ul.products li.product li.btn-wrap .btn-inner .tooltip,
  div.woocommerce ul.products li.product li.btn-wrap .btn-inner .tooltip {
    position: absolute;
    width: auto;
    text-align: center;
    background-color: #20b9ed;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 12px;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    white-space: nowrap;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9; }
    body.woocommerce ul.products li.product li.btn-wrap .btn-inner .tooltip:before,
    div.woocommerce ul.products li.product li.btn-wrap .btn-inner .tooltip:before {
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #20b9ed;
      position: absolute;
      bottom: -5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  body.woocommerce ul.products li.product li.btn-wrap .btn-inner:hover .tooltip,
  div.woocommerce ul.products li.product li.btn-wrap .btn-inner:hover .tooltip {
    opacity: 1;
    visibility: visible; }

body.woocommerce ul.products li.product .product-inner,
div.woocommerce ul.products li.product .product-inner {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  body.woocommerce ul.products li.product .product-inner:hover .woo-entry-inner li.image-wrap .woo-entry-image > a:before,
  div.woocommerce ul.products li.product .product-inner:hover .woo-entry-inner li.image-wrap .woo-entry-image > a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%; }
  body.woocommerce ul.products li.product .product-inner:hover .onsale,
  div.woocommerce ul.products li.product .product-inner:hover .onsale {
    display: none; }
  body.woocommerce ul.products li.product .product-inner:hover .outofstock-badge,
  body.woocommerce ul.products li.product .product-inner:hover .jquery-countdown,
  div.woocommerce ul.products li.product .product-inner:hover .outofstock-badge,
  div.woocommerce ul.products li.product .product-inner:hover .jquery-countdown {
    opacity: 0;
    visibility: hidden; }
  body.woocommerce ul.products li.product .product-inner:hover .btn-addtocart,
  div.woocommerce ul.products li.product .product-inner:hover .btn-addtocart {
    bottom: 0;
    opacity: 1; }
  body.woocommerce ul.products li.product .product-inner:hover .btn-positions,
  div.woocommerce ul.products li.product .product-inner:hover .btn-positions {
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1; }

body.woocommerce ul.products li.product.has-rating .product-inner:hover .inner .price,
div.woocommerce ul.products li.product.has-rating .product-inner:hover .inner .price {
  opacity: 1;
  visibility: visible; }

body.woocommerce ul.products li.product.has-rating li.inner .star-rating,
div.woocommerce ul.products li.product.has-rating li.inner .star-rating {
  position: relative;
  visibility: visible;
  opacity: 1;
  margin: 0px auto 15px;
  font-family: FontAwesome;
  height: 18px;
  line-height: 18px;
  width: 6em;
  letter-spacing: 3px; }
  body.woocommerce ul.products li.product.has-rating li.inner .star-rating:before,
  div.woocommerce ul.products li.product.has-rating li.inner .star-rating:before {
    content: "\f005\f005\f005\f005\f005"; }
  body.woocommerce ul.products li.product.has-rating li.inner .star-rating span:before,
  div.woocommerce ul.products li.product.has-rating li.inner .star-rating span:before {
    content: "\f005\f005\f005\f005\f005"; }

body.woocommerce ul.products.list li.product,
div.woocommerce ul.products.list li.product {
  border: none; }
  body.woocommerce ul.products.list li.product .woo-entry-image,
  div.woocommerce ul.products.list li.product .woo-entry-image {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    body.woocommerce ul.products.list li.product .woo-entry-image > .wvn-quick-view,
    div.woocommerce ul.products.list li.product .woo-entry-image > .wvn-quick-view {
      display: none; }
    body.woocommerce ul.products.list li.product .woo-entry-image > a:before,
    div.woocommerce ul.products.list li.product .woo-entry-image > a:before {
      content: "";
      background: rgba(225, 225, 225, 0.65);
      width: 10%;
      height: 10%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      position: absolute;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  body.woocommerce ul.products.list li.product .price,
  body.woocommerce ul.products.list li.product li.title a,
  div.woocommerce ul.products.list li.product .price,
  div.woocommerce ul.products.list li.product li.title a {
    text-align: left; }
    .rtl body.woocommerce ul.products.list li.product .price, .rtl
    body.woocommerce ul.products.list li.product li.title a, .rtl
    div.woocommerce ul.products.list li.product .price, .rtl
    div.woocommerce ul.products.list li.product li.title a {
      text-align: right; }
  body.woocommerce ul.products.list li.product li.title a,
  div.woocommerce ul.products.list li.product li.title a {
    padding: 0;
    font-size: 20px; }
  body.woocommerce ul.products.list li.product li.inner .star-rating,
  div.woocommerce ul.products.list li.product li.inner .star-rating {
    margin: 0 0 15px; }
  body.woocommerce ul.products.list li.product .product-inner,
  div.woocommerce ul.products.list li.product .product-inner {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    body.woocommerce ul.products.list li.product .product-inner:hover .onsale,
    div.woocommerce ul.products.list li.product .product-inner:hover .onsale {
      display: none; }
    body.woocommerce ul.products.list li.product .product-inner:hover .woo-entry-image > a:before,
    div.woocommerce ul.products.list li.product .product-inner:hover .woo-entry-image > a:before {
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%; }

body.woocommerce ul.product_list_widget li,
div.woocommerce ul.product_list_widget li {
  padding: 15px 0 15px 110px; }
  body.woocommerce ul.product_list_widget li img,
  div.woocommerce ul.product_list_widget li img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90px;
    height: 90px;
    top: 15px; }
  body.woocommerce ul.product_list_widget li .product-title,
  div.woocommerce ul.product_list_widget li .product-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  body.woocommerce ul.product_list_widget li .woocommerce-Price-amount,
  div.woocommerce ul.product_list_widget li .woocommerce-Price-amount {
    font-size: 13px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    color: #20b9ed;
    font-weight: 700; }
  body.woocommerce ul.product_list_widget li del,
  div.woocommerce ul.product_list_widget li del {
    opacity: 1; }
  body.woocommerce ul.product_list_widget li del .amount,
  div.woocommerce ul.product_list_widget li del .amount {
    font-weight: 500;
    color: #444; }
  body.woocommerce ul.product_list_widget li .star-rating,
  div.woocommerce ul.product_list_widget li .star-rating {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin: 0;
    font-family: FontAwesome;
    height: 18px;
    line-height: 18px;
    width: 5.6em;
    letter-spacing: 2.5px;
    font-size: 11px; }
    body.woocommerce ul.product_list_widget li .star-rating:before,
    div.woocommerce ul.product_list_widget li .star-rating:before {
      content: "\f005\f005\f005\f005\f005"; }
    body.woocommerce ul.product_list_widget li .star-rating span:before,
    div.woocommerce ul.product_list_widget li .star-rating span:before {
      content: "\f005\f005\f005\f005\f005"; }

.woocommerce .product span.onsale {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-transform: lowercase;
  text-align: center;
  padding: 0;
  font-weight: 400;
  line-height: 45px;
  z-index: 9;
  font-size: 12px;
  background-color: #20b9ed; }

/* Product Style 02 */
@media (min-width: 1200px) {
  .product-style-02 .woocommerce ul.products li.product .onsale {
    display: none; }
  .product-style-02 .woocommerce ul.products li.product .woo-entry-inner {
    padding-left: 200px;
    min-height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .rtl .product-style-02 .woocommerce ul.products li.product .woo-entry-inner {
      padding-right: 200px;
      padding-left: 0; }
    .product-style-02 .woocommerce ul.products li.product .woo-entry-inner .image-wrap {
      position: absolute;
      left: 0;
      width: 170px;
      margin: 0; }
      .rtl .product-style-02 .woocommerce ul.products li.product .woo-entry-inner .image-wrap {
        left: auto;
        right: 0; }
    .product-style-02 .woocommerce ul.products li.product .woo-entry-inner .price {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .product-style-02 .woocommerce ul.products li.product .woo-entry-inner li.title a {
      padding: 0; }
    .product-style-02 .woocommerce ul.products li.product .woo-entry-inner li.title a,
    .product-style-02 .woocommerce ul.products li.product .woo-entry-inner .price {
      text-align: left; }
  .product-style-02 .woocommerce ul.products li.product .jquery-countdown {
    display: none; }
  .product-style-02 .woocommerce ul.products li.product.has-rating li.inner .star-rating {
    margin: 15px 0 0;
    top: auto; } }

/* Countdown*/
.jquery-countdown .countdown-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .jquery-countdown .countdown-row .countdown-section {
    border: 1px solid #20b9ed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
  .jquery-countdown .countdown-row .countdown-amount {
    display: block; }
  .jquery-countdown .countdown-row span.countdown-period {
    text-transform: uppercase;
    font-size: 9px;
    color: #20b9ed;
    font-weight: 500;
    line-height: 1em; }
  .jquery-countdown .countdown-row span.countdown-amount {
    font-size: 16px;
    font-weight: 600;
    color: #20b9ed;
    line-height: 1.2em; }

.countdown-custom-01 .wew-countdown-wrap .wew-countdown-item {
  margin-bottom: 22px; }
  @media (max-width: 991px) {
    .countdown-custom-01 .wew-countdown-wrap .wew-countdown-item {
      margin-bottom: 10px; } }

/* Wew Carousel Blog */
.wew-carousel-blog.wew-carousel .slick-arrow {
  opacity: 0;
  background-color: #fff;
  width: 50px;
  height: 50px; }
  .wew-carousel-blog.wew-carousel .slick-arrow:focus {
    background-color: #fff; }
    .wew-carousel-blog.wew-carousel .slick-arrow:focus > span {
      color: #20b9ed; }
  .wew-carousel-blog.wew-carousel .slick-arrow > span {
    color: #20b9ed; }
  .wew-carousel-blog.wew-carousel .slick-arrow:hover {
    background-color: #20b9ed; }
    .wew-carousel-blog.wew-carousel .slick-arrow:hover > span {
      color: #fff; }
  .wew-carousel-blog.wew-carousel .slick-arrow.slick-prev {
    left: 30px; }
    .rtl .wew-carousel-blog.wew-carousel .slick-arrow.slick-prev {
      left: auto;
      right: 30px; }
  .wew-carousel-blog.wew-carousel .slick-arrow.slick-next {
    right: 30px; }
    .rtl .wew-carousel-blog.wew-carousel .slick-arrow.slick-next {
      left: 30px;
      right: auto; }
  @media (max-width: 767px) {
    .wew-carousel-blog.wew-carousel .slick-arrow {
      width: 40px;
      height: 40px; }
      .wew-carousel-blog.wew-carousel .slick-arrow.slick-prev {
        left: 25px; }
        .rtl .wew-carousel-blog.wew-carousel .slick-arrow.slick-prev {
          left: auto;
          right: 25px; }
      .wew-carousel-blog.wew-carousel .slick-arrow.slick-next {
        right: 25px; }
        .rtl .wew-carousel-blog.wew-carousel .slick-arrow.slick-next {
          left: 25px;
          right: auto; } }

.wew-carousel-blog.wew-carousel .wew-carousel-entry-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: left;
  padding-top: 25px; }
  .rtl .wew-carousel-blog.wew-carousel .wew-carousel-entry-details {
    text-align: right; }
  .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    font-size: 12px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 5px; }
    .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta > li {
      background-color: #f2f2f2;
      padding: 5px 10px;
      margin-bottom: 20px;
      margin-right: 20px;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      font-size: 12px; }
    .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta .meta-date {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      background-color: #20b9ed;
      color: #fff;
      position: relative;
      margin-right: 15px; }
      .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta .meta-date:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid #1B93BF;
        position: absolute;
        bottom: -8px;
        z-index: -1;
        left: 0; }
    .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta .meta-author {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta .meta-author > a {
        color: #333; }
        .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta .meta-author > a:hover {
          color: #20b9ed; }
    .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta > li {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
      .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .meta > li i {
        display: none; }
  .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .entry-title {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .wew-carousel-blog.wew-carousel .wew-carousel-entry-details .wew-carousel-entry-excerpt {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }

.wew-carousel-blog.wew-carousel:hover .slick-arrow {
  opacity: 1; }

/* Newletter */
.wew-newsletter-form .email-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .wew-newsletter-form .email-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; } }
  .wew-newsletter-form .email-wrap input[type="text"],
  .wew-newsletter-form .email-wrap input[type="email"] {
    padding: 0 30px;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .wew-newsletter-form .email-wrap input[type="text"],
      .wew-newsletter-form .email-wrap input[type="email"] {
        margin-bottom: 10px; } }
  .wew-newsletter-form .email-wrap .wew-newsletter-form-button {
    position: relative;
    height: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    right: auto;
    padding: 15px 30px !important; }

/* Tab Product Style 01 */
.tab-product-style-01 .wew-tabs .wew-tabs-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.tab-product-style-01 .wew-tabs .wew-tab-title {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .tab-product-style-01 .wew-tabs .wew-tab-title i {
    font-size: 20px;
    vertical-align: middle; }
  .tab-product-style-01 .wew-tabs .wew-tab-title:hover {
    color: #fff !important; }
    .tab-product-style-01 .wew-tabs .wew-tab-title:hover i {
      color: #fff !important; }

.tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="1"] {
  border-color: #cd89c6 !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="1"] i {
    color: #cd89c6; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="1"]:hover {
    background-color: #cd89c6 !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="1"].wew-active {
    background-color: #cd89c6 !important; }

.tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="2"] {
  border-color: #ee98bf !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="2"] i {
    color: #ee98bf; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="2"]:hover {
    background-color: #ee98bf !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="2"].wew-active {
    background-color: #ee98bf !important; }

.tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="3"] {
  border-color: #feb19f !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="3"] i {
    color: #feb19f; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="3"]:hover {
    background-color: #feb19f !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="3"].wew-active {
    background-color: #feb19f !important; }

.tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="4"] {
  border-color: #cae08d !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="4"] i {
    color: #cae08d; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="4"]:hover {
    background-color: #cae08d !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="4"].wew-active {
    background-color: #cae08d !important; }

.tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="5"] {
  border-color: #79dbcc !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="5"] i {
    color: #79dbcc; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="5"]:hover {
    background-color: #79dbcc !important; }
  .tab-product-style-01 .wew-tabs .wew-tab-title[data-tab="5"].wew-active {
    background-color: #79dbcc !important; }

/* Footer */
@media (min-width: 992px) {
  footer #footer-widgets .footer-box.span_1_of_4.col.col-1 {
    width: 34%; }
  footer #footer-widgets .footer-box.span_1_of_4.col.col-2 {
    width: 16%; }
  footer #footer-widgets .footer-box.span_1_of_4.col.col-3 {
    width: 16%; }
  footer #footer-widgets .footer-box.span_1_of_4.col.col-4 {
    width: 34%; } }

footer #footer-widgets .woovina-custom-links li a {
  font-size: 14px; }
  footer #footer-widgets .woovina-custom-links li a:before {
    display: none; }

footer #footer-widgets .footer-box .widget-title {
  position: relative;
  padding: 0;
  padding-bottom: 20px; }
  footer #footer-widgets .footer-box .widget-title:before {
    background: #20b9ed;
    width: 26px;
    height: 3px;
    position: absolute;
    left: 0px;
    z-index: 1;
    content: "";
    bottom: 0; }
    .rtl footer #footer-widgets .footer-box .widget-title:before {
      left: auto;
      right: 0px; }

footer #footer-widgets .contact-info-widget li {
  margin-bottom: 10px; }

footer #footer-widgets .footer-box .woovina-social-icons {
  margin-top: 15px; }
  footer #footer-widgets .footer-box .woovina-social-icons li {
    margin: 0 10px 0 0; }

footer #footer-widgets ul.contact-info-widget.no-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }
  footer #footer-widgets ul.contact-info-widget.no-icons .woovina-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  footer #footer-widgets ul.contact-info-widget.no-icons .woovina-contact-title {
    min-width: auto; }
  footer #footer-widgets ul.contact-info-widget.no-icons .woovina-contact-text {
    color: #20b9ed; }

footer #footer-widgets li.email {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  footer #footer-widgets li.email a {
    color: #20b9ed;
    display: block;
    margin-bottom: 5px;
    margin-top: 8px; }

footer #footer-widgets li.mobile {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

footer #footer-widgets li.phone,
footer #footer-widgets li.mobile {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
  footer #footer-widgets li.phone .woovina-contact-title,
  footer #footer-widgets li.mobile .woovina-contact-title {
    font-weight: 400;
    font-size: 14px; }
    footer #footer-widgets li.phone .woovina-contact-title:after,
    footer #footer-widgets li.mobile .woovina-contact-title:after {
      content: ":";
      margin: 0 5px; }

footer #footer-widgets li.phone {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

#footer-bottom #footer-bottom-menu {
  padding: 0 15px; }

#footer-bottom #copyright {
  padding: 0 15px; }
  #footer-bottom #copyright a {
    color: #20b9ed;
    font-weight: 600; }

#footer-bottom .menu a {
  text-transform: uppercase; }

#mobile-navbar {
  z-index: 99 !important; }
  #mobile-navbar li.menu-item a {
    padding: 10px 8px !important; }

/* Megamenu */
#site-navigation .main-menu > li > .sub-menu {
  padding: 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block !important; }
  #site-navigation .main-menu > li > .sub-menu li {
    border: none; }

#site-navigation .main-menu > li:hover > .sub-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  display: block !important; }

#site-navigation .megamenu li ul.sub-menu {
  border-top: none; }

#site-navigation .megamenu > li > a.menu-link {
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 10px; }

#site-navigation .sidebar-box {
  padding: 0 20px; }
  #site-navigation .sidebar-box.woocommerce .product_list_widget > li:last-child {
    border: none; }
  #site-navigation .sidebar-box.woocommerce .product_list_widget > li img {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  #site-navigation .sidebar-box.woocommerce .product_list_widget > li .product-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  #site-navigation .sidebar-box.woocommerce .product_list_widget > li .woocommerce-Price-amount {
    font-size: 14px;
    color: #20b9ed;
    font-weight: 600; }
  #site-navigation .sidebar-box.woocommerce .product_list_widget > li .star-rating {
    display: none; }

/* Megamenu Vertical */
div.select-categories div.select-category h5 {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  background-color: #444;
  color: #fff;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 600; }
  div.select-categories div.select-category h5:before {
    content: "\f0c9";
    font-family: "FontAwesome";
    margin-right: 20px; }
  div.select-categories div.select-category h5:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 20px; }

div.select-categories div.select-category ul.product-categories {
  display: none;
  padding: 10px 0 30px;
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-top: none;
  position: absolute;
  width: 100%; }
  div.select-categories div.select-category ul.product-categories li {
    position: relative;
    list-style-type: none;
    padding: 12px 20px; }
    div.select-categories div.select-category ul.product-categories li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1); }
    div.select-categories div.select-category ul.product-categories li:last-child:after {
      height: 0; }
    div.select-categories div.select-category ul.product-categories li a {
      color: #333;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      div.select-categories div.select-category ul.product-categories li a:before {
        content: "\f0da";
        font-family: "FontAwesome";
        margin-right: 10px;
        opacity: 0.8; }
        .rtl div.select-categories div.select-category ul.product-categories li a:before {
          margin-left: 10px;
          margin-right: 0; }
    div.select-categories div.select-category ul.product-categories li:hover > a {
      color: #20b9ed; }
      div.select-categories div.select-category ul.product-categories li:hover > a:before {
        -webkit-animation: wvn-blink-1 .6s .3s infinite both;
        animation: wvn-blink-1 .6s infinite .3s both; }
  div.select-categories div.select-category ul.product-categories li.cat-parent div.open-this {
    position: absolute;
    right: 20px; }
    .rtl div.select-categories div.select-category ul.product-categories li.cat-parent div.open-this {
      left: 20px;
      right: auto; }
    div.select-categories div.select-category ul.product-categories li.cat-parent div.open-this i.fa-angle-down:before {
      content: '\f067';
      font-size: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    div.select-categories div.select-category ul.product-categories li.cat-parent div.open-this i.fa-angle-up:before {
      content: '\f068';
      font-size: 10px; }
  div.select-categories div.select-category ul.product-categories li.cat-parent ul.children {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    margin: -1px 0 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    border: 1px solid #d6d6d6;
    opacity: 0;
    visibility: hidden; }
    .rtl div.select-categories div.select-category ul.product-categories li.cat-parent ul.children {
      left: auto;
      right: 100%; }
  div.select-categories div.select-category ul.product-categories li.cat-parent.opened > ul.children, div.select-categories div.select-category ul.product-categories li.cat-parent:hover > ul.children {
    visibility: visible;
    opacity: 1; }
  div.select-categories div.select-category ul.product-categories li.cat-parent.opened div.open-this, div.select-categories div.select-category ul.product-categories li.cat-parent:hover div.open-this {
    position: absolute;
    right: 20px; }
    .rtl div.select-categories div.select-category ul.product-categories li.cat-parent.opened div.open-this, .rtl div.select-categories div.select-category ul.product-categories li.cat-parent:hover div.open-this {
      left: 20px;
      right: auto; }
    div.select-categories div.select-category ul.product-categories li.cat-parent.opened div.open-this i.fa-angle-down:before, div.select-categories div.select-category ul.product-categories li.cat-parent:hover div.open-this i.fa-angle-down:before {
      content: '\f068';
      font-size: 10px; }

/* Slider */
.slider .woovina-slide-content {
  top: 5%; }

.slider .woovina-slick-slider .slick-dots {
  display: none !important; }

.slider .woovina-slick-slider .slick-arrow {
  background-color: #fff;
  width: 60px;
  height: 60px;
  opacity: 0; }
  .slider .woovina-slick-slider .slick-arrow:focus {
    background-color: #fff; }
    .slider .woovina-slick-slider .slick-arrow:focus:before {
      color: #20b9ed; }
  .slider .woovina-slick-slider .slick-arrow:hover {
    background-color: #20b9ed; }
    .slider .woovina-slick-slider .slick-arrow:hover:before {
      color: #fff !important; }
  .slider .woovina-slick-slider .slick-arrow.slick-next {
    right: 0; }
  .slider .woovina-slick-slider .slick-arrow.slick-prev {
    left: 0; }

.slider .woovina-slick-slider:hover .slick-arrow {
  opacity: 1; }

@media (max-width: 1650px) {
  .slider .woovina-slide-content {
    max-width: 52% !important; } }

@media (max-width: 1440px) {
  .slider .woovina-slide-content {
    max-width: 62% !important; } }

@media (max-width: 1200px) {
  .slider .woovina-slide-content {
    max-width: 42% !important; }
  .slider .woovina-slick-slider .slick-arrow {
    width: 40px;
    height: 40px; }
    .slider .woovina-slick-slider .slick-arrow:before {
      font-size: 28px !important; }
  body.default-breakpoint .center-logo #site-logo {
    position: relative;
    left: 0;
    padding: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@media (max-width: 991px) and (min-width: 768px) {
  .hot-deal .woocommerce .products.grid.tablet-3-col {
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 991px) {
  .slider .woovina-slide-content {
    max-width: 52% !important; } }

@media (max-width: 767px) {
  .slider .woovina-slide-content {
    max-width: 76% !important; }
  .tab-product-style-01 .wew-tab-content {
    margin: 30px -15px 0; } }

/* Popup button */
.popup-button a {
  position: relative; }
  .popup-button a:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 1; }
  .popup-button a:hover:before {
    opacity: 1;
    left: -12px;
    right: -12px;
    top: -12px;
    bottom: -12px; }

.woocommerce form input[type="number"] {
  -moz-appearance: textfield; }

/* Sidebar Widget */
body.content-right-sidebar .content-area,
body.content-left-sidebar .content-area {
  border: none; }

body .woovina-off-canvas-sidebar .sidebar-box .widget-title,
.site-main #right-sidebar .sidebar-box .widget-title,
.site-main #left-sidebar .sidebar-box .widget-title {
  position: relative;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 40px;
  letter-spacing: 0.4px; }
  body .woovina-off-canvas-sidebar .sidebar-box .widget-title:before,
  .site-main #right-sidebar .sidebar-box .widget-title:before,
  .site-main #left-sidebar .sidebar-box .widget-title:before {
    background-color: #20b9ed;
    width: 30px;
    height: 3px;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 1; }

body .woovina-off-canvas-sidebar .sidebar-box .searchform select,
.site-main #right-sidebar .sidebar-box .searchform select,
.site-main #left-sidebar .sidebar-box .searchform select {
  margin-bottom: 10px; }

body .woovina-off-canvas-sidebar .widget_product_categories .widget-title,
.site-main #right-sidebar .widget_product_categories .widget-title,
.site-main #left-sidebar .widget_product_categories .widget-title {
  margin-bottom: 30px; }

body .woovina-off-canvas-sidebar .widget_product_categories li,
.site-main #right-sidebar .widget_product_categories li,
.site-main #left-sidebar .widget_product_categories li {
  margin-bottom: 0;
  z-index: 99; }
  body .woovina-off-canvas-sidebar .widget_product_categories li a,
  .site-main #right-sidebar .widget_product_categories li a,
  .site-main #left-sidebar .widget_product_categories li a {
    padding: 15px 0;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  body .woovina-off-canvas-sidebar .widget_product_categories li:last-child a,
  .site-main #right-sidebar .widget_product_categories li:last-child a,
  .site-main #left-sidebar .widget_product_categories li:last-child a {
    border: none; }
  body .woovina-off-canvas-sidebar .widget_product_categories li.current-cat a,
  .site-main #right-sidebar .widget_product_categories li.current-cat a,
  .site-main #left-sidebar .widget_product_categories li.current-cat a {
    color: #20b9ed; }
  body .woovina-off-canvas-sidebar .widget_product_categories li .open-this,
  .site-main #right-sidebar .widget_product_categories li .open-this,
  .site-main #left-sidebar .widget_product_categories li .open-this {
    display: none; }
  body .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent:before,
  .site-main #right-sidebar .widget_product_categories li.cat-parent:before,
  .site-main #left-sidebar .widget_product_categories li.cat-parent:before {
    right: 15px;
    color: #333;
    content: "\f105";
    font-size: 16px;
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  body .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent .children,
  .site-main #right-sidebar .widget_product_categories li.cat-parent .children,
  .site-main #left-sidebar .widget_product_categories li.cat-parent .children {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    min-width: 260px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    display: block;
    left: 100%;
    top: 0px;
    background: #fff;
    width: auto;
    z-index: 3;
    pointer-events: none;
    -webkit-transition: .36s all;
    -o-transition: .36s all;
    transition: .36s all;
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    padding: 0;
    list-style: none; }
    .rtl body .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent .children, .rtl
    .site-main #right-sidebar .widget_product_categories li.cat-parent .children, .rtl
    .site-main #left-sidebar .widget_product_categories li.cat-parent .children {
      left: auto;
      right: 100%; }
    body .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent .children li a,
    .site-main #right-sidebar .widget_product_categories li.cat-parent .children li a,
    .site-main #left-sidebar .widget_product_categories li.cat-parent .children li a {
      padding: 15px 30px; }
  body .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent:hover > .children,
  .site-main #right-sidebar .widget_product_categories li.cat-parent:hover > .children,
  .site-main #left-sidebar .widget_product_categories li.cat-parent:hover > .children {
    z-index: 2;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0); }

body .woovina-off-canvas-sidebar .widget_price_filter .price_label,
.site-main #right-sidebar .widget_price_filter .price_label,
.site-main #left-sidebar .widget_price_filter .price_label {
  letter-spacing: 0;
  text-transform: none; }

body .woovina-off-canvas-sidebar .widget_price_filter .price_slider_amount,
body .woovina-off-canvas-sidebar .widget_price_filter .price_slider_amount .button,
.site-main #right-sidebar .widget_price_filter .price_slider_amount,
.site-main #right-sidebar .widget_price_filter .price_slider_amount .button,
.site-main #left-sidebar .widget_price_filter .price_slider_amount,
.site-main #left-sidebar .widget_price_filter .price_slider_amount .button {
  height: 35px;
  line-height: 35px; }

body .woovina-off-canvas-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content,
.site-main #right-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content,
.site-main #left-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border: none;
  position: relative;
  margin-bottom: 30px; }
  body .woovina-off-canvas-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle,
  .site-main #right-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle,
  .site-main #left-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle {
    top: -3px; }
  body .woovina-off-canvas-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content:before,
  .site-main #right-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content:before,
  .site-main #left-sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 2px; }

body.content-both-sidebars.scs-style .content-area {
  border: none;
  padding: 0; }

/* Product Single */
.single-product div.product .flex-viewport {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  margin: 0px auto;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    border: 1px solid #20b9ed; }

.single-product div.product .product_meta {
  border-bottom: 0; }

.single-product div.product div.summary {
  padding-left: 40px; }

.single-product div.product .product_title {
  padding-right: 70px; }

.single-product div.product form.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .single-product div.product form.cart div.quantity.hidden {
    display: none; }
  .single-product div.product form.cart.grouped_form {
    margin-top: 0; }
    .single-product div.product form.cart.grouped_form td.woocommerce-grouped-product-list-item__quantity {
      width: 150px; }
    .single-product div.product form.cart.grouped_form p.in-stock {
      font-size: 10px; }
  .single-product div.product form.cart .single_add_to_cart_button {
    height: 40px; }
    .single-product div.product form.cart .single_add_to_cart_button.added {
      display: none; }
  .single-product div.product form.cart .added_to_cart.wc-forward {
    background-color: #333;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: none;
    padding: 0 20px; }
    .single-product div.product form.cart .added_to_cart.wc-forward:hover {
      background-color: #20b9ed; }
  .single-product div.product form.cart .variations_button .added_to_cart {
    padding: 12px 20px; }
  .single-product div.product form.cart .tinvwl_add_to_wishlist_button {
    margin-top: 0; }
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button:before {
      font-family: "simple-line-icons" !important;
      content: "\e08a"; }
  .single-product div.product form.cart .compare,
  .single-product div.product form.cart .tinvwl_add_to_wishlist_button {
    background: #202424;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    font-size: 0;
    padding: 0; }
    .rtl .single-product div.product form.cart .compare, .rtl
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button {
      margin-right: 5px;
      margin-left: 0; }
    .single-product div.product form.cart .compare:before,
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button:before {
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      width: 100%;
      color: #fff; }
    .single-product div.product form.cart .compare.inited-add-wishlist, .single-product div.product form.cart .compare.added, .single-product div.product form.cart .compare:hover,
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button.inited-add-wishlist,
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button.added,
    .single-product div.product form.cart .tinvwl_add_to_wishlist_button:hover {
      background-color: #20b9ed;
      color: #fff; }
  .single-product div.product form.cart .tinv-wishlist {
    position: relative;
    height: 40px; }
    .single-product div.product form.cart .tinv-wishlist .tinvwl-tooltip {
      position: absolute;
      top: -32px;
      font-size: 11px;
      background: #20b9ed;
      border-radius: 3px;
      padding: 2px 20px;
      left: -48%;
      opacity: 0;
      visibility: hidden;
      color: #fff;
      display: block; }
      .rtl .single-product div.product form.cart .tinv-wishlist .tinvwl-tooltip {
        left: auto;
        right: -48%; }
      .single-product div.product form.cart .tinv-wishlist .tinvwl-tooltip:before {
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #20b9ed;
        position: absolute;
        bottom: -5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .single-product div.product form.cart .tinv-wishlist:hover .tinvwl-tooltip {
      opacity: 1;
      visibility: visible; }

.single-product div.product .product_meta span {
  padding: 5px 0; }

.single-product div.product .btn-single-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .single-product div.product .btn-single-page .tinvwl_add_to_wishlist_button {
    margin: 0; }
  .single-product div.product .btn-single-page .btn-inner {
    position: relative;
    height: 40px; }
    .single-product div.product .btn-single-page .btn-inner .tooltip {
      position: absolute;
      top: -32px;
      font-size: 11px;
      background: #20b9ed;
      border-radius: 3px;
      padding: 2px 20px;
      left: -48%;
      opacity: 0;
      visibility: hidden;
      color: #fff; }
      .rtl .single-product div.product .btn-single-page .btn-inner .tooltip {
        left: auto;
        right: -48%; }
      .single-product div.product .btn-single-page .btn-inner .tooltip:before {
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #20b9ed;
        position: absolute;
        bottom: -5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .single-product div.product .btn-single-page .btn-inner:hover .tooltip {
      opacity: 1;
      visibility: visible; }
    .single-product div.product .btn-single-page .btn-inner.btn-compare a:before {
      font-family: "FontAwesome";
      content: "\f0ec"; }

.single-product div.product .quantity .minus,
.single-product div.product .quantity .plus {
  width: 25px; }

.single-product div.product .quantity .qty {
  width: 50px; }

.single-product div.product .quantity .qty,
.single-product div.product .quantity .minus,
.single-product div.product .quantity .plus {
  height: 40px;
  line-height: 40px; }

.single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0; }
  .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow:before {
    font-size: 24px;
    line-height: 26px;
    font-family: "FontAwesome";
    color: #20b9ed; }
  .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow:hover {
    border-color: #20b9ed;
    background-color: #20b9ed; }
    .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow:hover:before {
      color: #fff; }
  .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-prev {
    left: 0px; }
    .rtl .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-prev {
      left: auto;
      right: 0px; }
    .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-prev:before {
      content: '\f104'; }
  .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-next {
    right: 0px; }
    .rtl .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-next {
      left: 0px;
      right: auto; }
    .single-product .wvn-thumbs-layout-horizontal .woocommerce-product-gallery .slick-slider .slick-arrow.slick-next:before {
      content: '\f105'; }

.single-product.woocommerce div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: none; }

.single-product.woocommerce div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  margin-right: 0 !important;
  margin-bottom: 0;
  padding: 0 10px; }
  .single-product.woocommerce div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li img {
    width: 100%; }

/* Title Upsell */
body.woocommerce .related.products h2,
body.woocommerce .upsells.products h2 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  body.woocommerce .related.products h2:before,
  body.woocommerce .upsells.products h2:before {
    background-color: #20b9ed;
    width: 30px;
    height: 3px;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 1; }

/* Page Number */
.page-numbers a, .page-numbers span:not(.elementor-screen-only),
.page-links span {
  font-size: 14px; }
  .page-numbers a:hover, .page-numbers span:not(.elementor-screen-only):hover,
  .page-links span:hover {
    background-color: #20b9ed;
    color: #fff;
    border-color: #20b9ed; }
  .page-numbers a.current, .page-numbers span:not(.elementor-screen-only).current,
  .page-links span.current {
    background-color: #20b9ed;
    color: #fff;
    border-color: #20b9ed; }

/* Off Canvas */
#woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Gallery Custom 01*/
.gallery-custom-01 .wew-gallery-item-inner {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .gallery-custom-01 .wew-gallery-item-inner:hover .wew-gallery-thumbnail {
    border: 1px solid #20b9ed !important; }

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  top: -4px;
  width: 40px;
  text-align: center;
  padding: 0; }

body .wvn-product-nav li .wvn-nav-thumb {
  padding: 10px;
  background-color: #fff;
  width: 150px;
  text-align: center; }
  body .wvn-product-nav li .wvn-nav-thumb img {
    width: 100%; }
  body .wvn-product-nav li .wvn-nav-thumb span {
    font-size: 10px;
    font-weight: 600; }

/* Search */
body.admin-bar .elementor-search-form--skin-full_screen .elementor-search-form__container {
  top: 28px; }

body .elementor-search-form--skin-full_screen .elementor-search-form__container {
  height: 180px; }

/* Cart */
.show-cart .elementor-menu-cart__container .elementor-menu-cart__main {
  -webkit-transition: 0.3s 0.3s ease-in-out;
  -moz-transition: 0.3s 0.3s ease-in-out;
  -ms-transition: 0.3s 0.3s ease-in-out;
  -o-transition: 0.3s 0.3s ease-in-out;
  transition: 0.3s 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 350px;
  max-width: 100%;
  right: 0;
  bottom: 0;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  visibility: visible !important;
  opacity: 1 !important; }

.show-cart .elementor-menu-cart__container:not(.elementor-menu-cart--shown) {
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important; }

.show-cart .elementor-menu-cart__container {
  width: 350px !important;
  right: 0 !important;
  left: auto !important; }

.woocommerce table.shop_table a.remove {
  line-height: 26px !important; }

.wew-brands-list .wew-brands-link {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .wew-brands-list .wew-brands-link img {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    margin: auto; }
  .wew-brands-list .wew-brands-link:hover img {
    border-color: #20b9ed !important;
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.wew-brands-list .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 18px;
  background-color: #fff;
  color: #20b9ed;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0; }
  .wew-brands-list .slick-arrow:hover {
    background-color: #20b9ed;
    color: #fff; }
  .wew-brands-list .slick-arrow.slick-next {
    right: 15px; }
    .rtl .wew-brands-list .slick-arrow.slick-next {
      left: 15px;
      right: auto; }
  .wew-brands-list .slick-arrow.slick-prev {
    left: 15px; }
    .rtl .wew-brands-list .slick-arrow.slick-prev {
      left: auto;
      right: 15px; }

.wew-brands-list:hover .slick-arrow {
  opacity: 1; }

/* Fix */
.variations_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .variations_button {
      -ms-flex-flow: wrap;
      flex-flow: wrap; } }

/* RTL Language*/
.sidr-class-mobile-searchform button {
  padding: 0; }

.rtl .header-search .woocommerce-product-search select {
  background-position: 20px center; }

.rtl .header-search .woocommerce-product-search input {
  padding-right: 10px; }

.rtl .woovina-off-canvas-sidebar .widget_product_categories li.cat-parent:before,
.rtl #right-sidebar .widget_product_categories li.cat-parent:before,
.rtl #left-sidebar .widget_product_categories li.cat-parent:before {
  right: auto;
  left: 15px;
  content: "\f104"; }

.rtl #footer-bottom #copyright, .rtl #footer-bottom #footer-bottom-menu {
  float: left; }

.rtl .block-support-menu .elementor-widget.elementor-align-right .elementor-icon-list-item,
.rtl .block-support-menu .elementor-widget.elementor-align-right .elementor-icon-list-item a,
.rtl .block-support-menu .elementor-widget.elementor-align-right .elementor-icon-list-items {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left; }

.rtl div.select-categories div.select-category h5:before {
  content: "\f0d7";
  position: absolute;
  left: 20px; }

.rtl div.select-categories div.select-category h5:after {
  content: "\f0c9";
  position: relative;
  right: 0px;
  margin-left: 10px; }

.rtl .product-style-02 .woocommerce ul.products li.product.has-rating li.inner .star-rating {
  margin-right: auto; }

.rtl .rtl-heading-right .elementor-heading-title {
  text-align: left; }

.rtl .rtl-heading-left .elementor-heading-title {
  text-align: right; }

.rtl .sidr-class-mobile-searchform button {
  left: 10px;
  right: auto; }

.rtl.content-both-sidebars .widget-area.sidebar-primary {
  float: right;
  padding-left: 30px; }

.rtl div.select-categories div.select-category ul.product-categories li a:after {
  content: "\f0d9";
  font-family: "FontAwesome";
  margin-left: 10px;
  opacity: 0.8; }

.rtl div.select-categories div.select-category ul.product-categories li a:before {
  display: none; }

.rtl.single-product div.product div.summary {
  padding-right: 40px;
  padding-left: 0; }

.rtl.single-product div.product .product_title {
  padding-left: 70px;
  padding-right: 0; }

.woocommerce div.product .woocommerce-tabs {
  margin-top: 30px; }

.elementor-menu-cart__product-image {
  border: 1px solid rgba(0, 0, 0, 0.1); }

/* Arrow Quickview */
#wvn-qv-wrap .flex-direction-nav a {
  width: 60px;
  height: 60px;
  font-size: 0; }

#wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev,
#wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  font-size: 0;
  text-align: center; }
  #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev:before,
  #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next:before {
    line-height: 60px;
    color: #20b9ed; }
  #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev:hover,
  #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next:hover {
    background-color: #20b9ed; }
    #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev:hover:before,
    #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next:hover:before {
      color: #fff; }
  @media (max-width: 991px) {
    #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev,
    #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next {
      width: 40px;
      height: 40px; }
      #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-prev:before,
      #wvn-qv-wrap .wvn-qv-image:hover .flex-direction-nav a.flex-next:before {
        line-height: 40px; } }

/* Responsive */
.woovina-mobile-menu-icon a.mobile-menu .woovina-text {
  display: none; }

@media (max-width: 1200px) {
  .woovina-slick-slider .slick-slide-inner .woovina-slide-description,
  .woovina-slick-slider .slick-slide-inner .woovina-slide-heading {
    margin-bottom: 10px !important; }
  .slider,
  #site-header section,
  #site-header {
    width: 100vw !important; }
  #site-header-inner {
    max-width: 100%; } }

@media (min-width: 992px) {
  .woocommerce .woovina-off-canvas-filter {
    display: none; } }

@media (max-width: 991px) {
  #right-sidebar,
  #left-sidebar {
    display: none; }
  .wvn-mini-cart div.woocommerce ul.product_list_widget li {
    padding: 15px 0 15px 0px; }
    .wvn-mini-cart div.woocommerce ul.product_list_widget li .wvn-grid-wrap .wvn-grid h3 {
      font-size: 12px;
      margin-bottom: 15px; }
    .wvn-mini-cart div.woocommerce ul.product_list_widget li .wvn-grid-wrap .wvn-grid > div {
      padding: 0; }
    .wvn-mini-cart div.woocommerce ul.product_list_widget li .wvn-grid a.remove {
      width: 22px;
      height: 22px;
      line-height: 22px;
      right: 0;
      margin-top: 5px; }
    .wvn-mini-cart div.woocommerce ul.product_list_widget li .widget_shopping_cart_content .buttons .button {
      background-color: #20b9ed;
      letter-spacing: 0.4px; }
  .elementor-element.today-deal, .elementor-element.hot-deal {
    width: 100% !important; } }

@media (max-width: 767px) {
  html {
    margin-top: 0 !important; }
  body.admin-bar {
    margin-top: 45px !important; }
  .jquery-countdown.is-countdown {
    display: none; }
  .woocommerce .product span.onsale {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    top: 10px;
    left: 10px; }
    .rtl .woocommerce .product span.onsale {
      left: auto;
      right: 10px; }
  body.woocommerce ul.products li.product .price,
  div.woocommerce ul.products li.product .price {
    font-size: 12px; }
    body.woocommerce ul.products li.product .price del .amount,
    div.woocommerce ul.products li.product .price del .amount {
      font-size: 12px; }
  .product-style-02 .woocommerce ul.products li:last-child {
    display: none; }
  .tab-product-style-01 .wew-tabs .wew-tab-title {
    border: solid 2px !important;
    margin-bottom: 10px;
    text-align: center; }
  #main #content-wrap {
    padding-top: 30px;
    padding-bottom: 30px; }
  .wvn-product-nav-wrap {
    display: none; }
  .wew-tabs .wew-tabs-wrap {
    display: block !important; }
  .single-product div.product div.summary {
    padding-left: 0px; }
    .single-product div.product div.summary p.price {
      font-size: 20px; }
      .single-product div.product div.summary p.price del {
        font-size: 16px; }
  .single-product div.product .product_title {
    padding: 10px 0 20px;
    font-size: 18px !important; }
  .woocommerce div.product form.cart div.quantity {
    width: 100%;
    margin-bottom: 10px; }
  .site-breadcrumbs ul {
    white-space: pre-wrap;
    font-size: 14px;
    padding: 0 10px !important; }
  #wvn-qv-wrap div.product div.images {
    float: left; }
  .wew-tabs-wrap {
    height: 42px;
    overflow: hidden;
    position: relative; }
    .wew-tabs-wrap.open-show {
      height: auto; }
      .wew-tabs-wrap.open-show .wew-tab-title {
        position: relative; }
        .wew-tabs-wrap.open-show .wew-tab-title:before {
          content: "\f0d8";
          font-family: 'FontAwesome';
          right: 5px;
          top: 50%;
          color: #333;
          width: 25px;
          position: absolute;
          font-size: 18px;
          z-index: 1;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
        .wew-tabs-wrap.open-show .wew-tab-title.wew-active:before {
          color: #fff; }
    .wew-tabs-wrap:not(.open-show):before {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: "";
      z-index: 9; }
    .wew-tabs-wrap:not(.open-show):after {
      content: "\f0d7";
      font-family: 'FontAwesome';
      right: 0;
      top: 50%;
      color: #fff;
      width: 25px;
      position: absolute;
      font-size: 18px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .wew-tabs-wrap:not(.open-show) .wew-tab-title.wew-active {
      display: block; }
    .wew-tabs-wrap:not(.open-show) .wew-tab-title {
      display: none; }
  .wew-tabs .wew-tab-mobile-title {
    display: none !important; }
  .single-product div.product form.cart.grouped_form {
    margin-top: 0;
    overflow-x: scroll; }
  .woocommerce div.product table.group_table {
    overflow-x: scroll;
    min-width: 600px; }
  div.woocommerce ul.products.mobile-2-col li.product li.btn-wrap .btn-positions {
    display: none; }
  .custom-header .top_wishlist-heart .wishlist_products_counter_number {
    color: #fff;
    background-color: #20b9ed; }
  form.woovina-searchform button {
    background-color: #20b9ed !important; }
    form.woovina-searchform button:hover {
      background-color: #333 !important; }
  #footer-bottom #copyright {
    font-size: 11px !important;
    line-height: 1.6; }
  #footer-bottom a,
  #footer-bottom #footer-bottom-menu a {
    font-size: 11px; }
  #mobile-navbar {
    -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3) !important; }
    #mobile-navbar li.menu-item .menu-text {
      margin-top: 8px !important;
      font-size: 10px; }
  div#mobile-navbar li.menu-item.nav-home a {
    position: absolute;
    top: 5px;
    border: 3px solid #e9ebfc;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    left: 50%;
    line-height: 45px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 !important;
    background-color: #20b9ed;
    color: #fff; }
    div#mobile-navbar li.menu-item.nav-home a .menu-text {
      display: none; } }

@media (max-width: 480px) {
  #scroll-top {
    bottom: 80px !important;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1); } }

@media (max-width: 1200px) and (min-width: 768px) {
  .product-style-02 .woocommerce .products.grid.desktop-1-col {
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 374px) {
  .off-canvas-enabled #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar {
    width: 280px; }
  .elementor-button.elementor-size-md {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

@media only screen and (max-width: 320px) {
  body.woocommerce .woocommerce-ordering .orderby {
    width: 100% !important; } }

body .sidr-class-mobile-searchform button {
  padding: 0; }

/***Product-Grid***/
body .woovina-row.grid .product.span_1_of_1,
body .woovina-row.grid .product.span_1_of_2,
body .woovina-row.grid .product.span_1_of_3,
body .woovina-row.grid .product.span_1_of_4,
body .woovina-row.grid .product.span_1_of_5,
body .woovina-row.grid .product.span_1_of_6,
body .woovina-row.grid .product.span_1_of_7,
body .woovina-row.grid .product.span_1_of_8,
body .woovina-row.grid .product.span_1_of_9,
body .woovina-row.grid .product.span_1_of_10,
body .woovina-row.grid .product.span_1_of_11,
body .woovina-row.grid .product.span_1_of12 {
  width: unset !important; }

.woocommerce .products.grid.desktop-1-col {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr); }

.woocommerce .products.grid.desktop-2-col {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr); }

.woocommerce .products.grid.desktop-3-col {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr); }

.woocommerce .products.grid.desktop-4-col {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr); }

.woocommerce .products.grid.desktop-5-col {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr); }

.woocommerce .products.grid.desktop-6-col {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr); }

.woocommerce .products.grid.desktop-7-col {
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr); }

.woocommerce .products.grid.desktop-8-col {
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr); }

.woocommerce .products.grid.desktop-9-col {
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr); }

.woocommerce .products.grid.desktop-10-col {
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr); }

.woocommerce .products.grid.desktop-11-col {
  -ms-grid-columns: (1fr)[11];
  grid-template-columns: repeat(11, 1fr); }

.woocommerce .products.grid.desktop-12-col {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr); }

@media screen and (max-width: 959px) and (min-width: 769px) {
  .woocommerce .products.grid.desktop-1-col,
  .woocommerce .products.grid.desktop-2-col,
  .woocommerce .products.grid.desktop-3-col,
  .woocommerce .products.grid.desktop-4-col,
  .woocommerce .products.grid.desktop-5-col,
  .woocommerce .products.grid.desktop-6-col,
  .woocommerce .products.grid.desktop-7-col,
  .woocommerce .products.grid.desktop-8-col,
  .woocommerce .products.grid.desktop-9-col,
  .woocommerce .products.grid.desktop-10-col,
  .woocommerce .products.grid.desktop-11-col,
  .woocommerce .products.grid.desktop-12-col {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 768px) {
  .woocommerce .products.grid.tablet-1-col {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .woocommerce .products.grid.tablet-2-col {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .woocommerce .products.grid.tablet-3-col {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .woocommerce .products.grid.tablet-4-col {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }
  .woocommerce .products.grid.tablet-5-col {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr); }
  .woocommerce .products.grid.tablet-6-col {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr); }
  .woocommerce .products.grid.tablet-7-col {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr); }
  .woocommerce .products.grid.tablet-8-col {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr); }
  .woocommerce .products.grid.tablet-9-col {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr); }
  .woocommerce .products.grid.tablet-10-col {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr); }
  .woocommerce .products.grid.tablet-11-col {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr); }
  .woocommerce .products.grid.tablet-12-col {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr); } }

@media screen and (max-width: 735px) and (min-width: 600px) {
  .woocommerce .products.grid.desktop-1-col,
  .woocommerce .products.grid.desktop-2-col,
  .woocommerce .products.grid.desktop-3-col,
  .woocommerce .products.grid.desktop-4-col,
  .woocommerce .products.grid.desktop-5-col,
  .woocommerce .products.grid.desktop-6-col,
  .woocommerce .products.grid.desktop-7-col,
  .woocommerce .products.grid.desktop-8-col,
  .woocommerce .products.grid.desktop-9-col,
  .woocommerce .products.grid.desktop-10-col,
  .woocommerce .products.grid.desktop-11-col,
  .woocommerce .products.grid.desktop-12-col {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 599px) and (min-width: 415px) {
  .woocommerce .products.grid.desktop-1-col,
  .woocommerce .products.grid.desktop-2-col,
  .woocommerce .products.grid.desktop-3-col,
  .woocommerce .products.grid.desktop-4-col,
  .woocommerce .products.grid.desktop-5-col,
  .woocommerce .products.grid.desktop-6-col,
  .woocommerce .products.grid.desktop-7-col,
  .woocommerce .products.grid.desktop-8-col,
  .woocommerce .products.grid.desktop-9-col,
  .woocommerce .products.grid.desktop-10-col,
  .woocommerce .products.grid.desktop-11-col,
  .woocommerce .products.grid.desktop-12-col {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 414px) {
  .woocommerce .products.grid.mobile-1-col {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .woocommerce .products.grid.mobile-2-col {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .woocommerce .products.grid.mobile-3-col {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .woocommerce .products.grid.mobile-4-col {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }
  .woocommerce .products.grid.mobile-5-col {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr); }
  .woocommerce .products.grid.mobile-6-col {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr); }
  .woocommerce .products.grid.mobile-7-col {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr); }
  .woocommerce .products.grid.mobile-8-col {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr); }
  .woocommerce .products.grid.mobile-9-col {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr); }
  .woocommerce .products.grid.mobile-10-col {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr); }
  .woocommerce .products.grid.mobile-11-col {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr); }
  .woocommerce .products.grid.mobile-12-col {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr); } }

@media screen and (max-width: 320px) {
  .woocommerce .products.grid.desktop-1-col,
  .woocommerce .products.grid.desktop-2-col,
  .woocommerce .products.grid.desktop-3-col,
  .woocommerce .products.grid.desktop-4-col,
  .woocommerce .products.grid.desktop-5-col,
  .woocommerce .products.grid.desktop-6-col,
  .woocommerce .products.grid.desktop-7-col,
  .woocommerce .products.grid.desktop-8-col,
  .woocommerce .products.grid.desktop-9-col,
  .woocommerce .products.grid.desktop-10-col,
  .woocommerce .products.grid.desktop-11-col,
  .woocommerce .products.grid.desktop-12-col {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }

.woocommerce .products.grid {
  display: -ms-grid !important;
  display: grid !important; }

/***End Product-Grid***/
.tinv-wishlist .tinvwl-buttons-group button {
  line-height: 45px;
  padding: 0; }

body.woocommerce ul.products.list li.product li.title a,
div.woocommerce ul.products.list li.product li.title a {
  height: auto; }

/* Style Preloader */
.woovina-page-loader .wvp-loader-thirteen .thirteen-spinner:nth-child(2) {
  border-right: 4px solid #20b9ed;
  border-bottom: 4px solid #20b9ed; }

.woovina-page-loader .wvp-loader-nine::before, .woovina-page-loader .wvp-loader-nine span {
  background-color: #20b9ed; }

.woovina-page-loader .wvp-loader-nine::after {
  border-color: #20b9ed; }

.woovina-page-loader .wvp-loader-seven .box1, .woovina-page-loader .wvp-loader-seven .box2, .woovina-page-loader .wvp-loader-seven .box3 {
  border-color: #20b9ed; }

.woovina-page-loader .wvp-loader-eight svg defs #gradient > stop:nth-child(2) {
  stop-color: #20b9ed !important; }

.woovina-page-loader .wvp-loader-ten .blob-2 {
  background-color: #20b9ed; }

.woovina-page-loader .wvp-loader-twelve .twelve-spinner {
  border-top: 4px solid #20b9ed;
  border-bottom: 4px solid #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-one {
  border-top: 1px solid rgba(240, 206, 21, 0.1);
  border-right: 1px solid rgba(240, 206, 21, 0.1);
  border-bottom: 1px solid rgba(240, 206, 21, 0.1);
  border-left: 1px solid rgba(240, 206, 21, 0.8); }

.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(2) {
  background: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(3) {
  background: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(4) {
  background: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(1) {
  background: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-three span {
  background: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-four .spinner-cube {
  background-color: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-five .spinner-cube:before {
  background-color: #20b9ed; }

.woovina-page-loader .woovina-loader.wvp-loader-six .spinner-cube-1,
.woovina-page-loader .woovina-loader.wvp-loader-six .spinner-cube-2 {
  background-color: #20b9ed;
  opacity: 0.8;
  /* IE8 filter*/
  filter: alpha(opacity=80); }

@-webkit-keyframes spinner-three {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: #20b9ed; }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; } }

@keyframes spinner-three {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: #20b9ed; }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: #20b9ed; } }

/*Fix */
#woovina-toolbar .open {
  top: 35%;
  -webkit-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%); }

#woovina-toolbar .woovina-toolbar-inner {
  z-index: 99; }

/* Fix Update Remove Elementor Pro */
div.wpforms-container-full .wpforms-form textarea.placeholder,
div.wpforms-container-full .wpforms-form input.placeholder {
  font-size: 13px;
  opacity: .5;
  font-style: italic; }

div.wpforms-container-full .wpforms-form textarea:-moz-placeholder,
div.wpforms-container-full .wpforms-form input:-moz-placeholder {
  font-size: 13px;
  opacity: .5;
  font-style: italic; }

div.wpforms-container-full .wpforms-form textarea::-moz-placeholder,
div.wpforms-container-full .wpforms-form input::-moz-placeholder {
  font-size: 13px;
  opacity: .5;
  font-style: italic; }

div.wpforms-container-full .wpforms-form textarea:-ms-input-placeholder,
div.wpforms-container-full .wpforms-form input:-ms-input-placeholder {
  font-size: 13px;
  opacity: .5;
  font-style: italic; }

div.wpforms-container-full .wpforms-form textarea::-webkit-input-placeholder,
div.wpforms-container-full .wpforms-form input::-webkit-input-placeholder {
  font-size: 13px;
  opacity: .5;
  font-style: italic; }

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333; }

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  text-align: center; }
  div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"] {
    background-color: #20b9ed;
    color: #fff;
    text-transform: uppercase;
    border: none;
    min-width: 120px;
    height: 40px; }
    div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type="submit"]:hover {
      background-color: #333; }

.woocommerce div.product .woocommerce-product-gallery .flex-control-thumbs {
  margin: 0 -10px !important; }

.elementor-main-swiper .elementor-carousel-image {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }
  .elementor-main-swiper .elementor-carousel-image:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.elementor-main-swiper .elementor-swiper-button {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 18px;
  background-color: #fff;
  color: #20b9ed;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0; }
  .elementor-main-swiper .elementor-swiper-button i {
    width: 40px;
    line-height: 40px;
    text-align: center; }
  .elementor-main-swiper .elementor-swiper-button:hover {
    background-color: #20b9ed;
    color: #fff; }
  .elementor-main-swiper .elementor-swiper-button.elementor-swiper-button-prev {
    right: 15px; }
    .rtl .elementor-main-swiper .elementor-swiper-button.elementor-swiper-button-prev {
      left: 15px;
      right: auto; }
  .elementor-main-swiper .elementor-swiper-button.elementor-swiper-button-prev {
    left: 15px; }
    .rtl .elementor-main-swiper .elementor-swiper-button.elementor-swiper-button-prev {
      left: auto;
      right: 15px; }

.elementor-main-swiper:hover .elementor-swiper-button {
  opacity: 1; }

.woovina-menucart__footer-buttons .elementor-button:hover {
  background-color: #333 !important; }

/* Fix Popup Video*/
.elementor-widget-video .elementor-custom-embed-image-overlay {
  width: 85px !important;
  height: 85px !important;
  margin: 0px auto;
  position: relative; }
  .elementor-widget-video .elementor-custom-embed-image-overlay img {
    width: 70px !important;
    height: 70px;
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .elementor-widget-video .elementor-custom-embed-image-overlay:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 60%;
    height: 60%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 1;
    margin: auto; }
  .elementor-widget-video .elementor-custom-embed-image-overlay:hover:before {
    opacity: 1;
    width: 100%;
    height: 100%; }
  .elementor-widget-video .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
    display: none; }
