/*-----------------------------------------------------------------------
0. Variables Less
*/
/* CSS3 PROPERTIES */
/* Border Radius */
/*-----------------------------------------------------------------------
/* Topbar */
#top-bar {
  padding: 0;
}
#top-bar #top-bar-content #top-bar-nav {
  float: right;
}
.rtl #top-bar #top-bar-content #top-bar-nav {
  float: left;
}
.rtl#top-bar #top-bar-content #top-bar-nav {
  float: left;
}
#top-bar .topbar-content {
  float: left;
  line-height: 40px;
  height: 40px;
}
.rtl #top-bar .topbar-content {
  float: right;
}
.rtl#top-bar .topbar-content {
  float: right;
}
#top-bar-nav .top-bar-menu > li {
  padding-right: 20px;
  line-height: 40px;
}
#top-bar-nav .top-bar-menu > li::after {
  content: "";
  display: block;
  float: right;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 0;
  border-right: 1px solid #969ca7;
}
#top-bar-nav .top-bar-menu > li:last-child {
  padding-right: 0;
}
#top-bar-nav .top-bar-menu > li:last-child:after {
  display: none;
}
/* Mini Cart */
.wcmenucart-toggle-drop_down .current-shop-items-dropdown .widget_shopping_cart ul.cart_list li .wvn-grid-wrap .wvn-grid.content h3,
.widget_shopping_cart ul.cart_list li .wvn-grid-wrap .wvn-grid h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 60px;
}
.cart-subtotal th {
  vertical-align: bottom;
}
.cart-subtotal td {
  vertical-align: bottom;
}
/* Menu main */
.site-main .elementor-inner .elementor-element.fearture-product {
  background-image: none;
}
#site-navigation .woocommerce.widget_top_rated_products {
  padding-top: 10px;
}
#site-navigation .woocommerce.widget_top_rated_products ul.product_list_widget li {
  border: none;
  height: auto;
  margin-bottom: 0;
  padding-left: 90px;
  padding-top: 0;
}
.rtl #site-navigation .woocommerce.widget_top_rated_products ul.product_list_widget li {
  padding-right: 90px;
  padding-left: 0;
}
#site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li ul .widget-product .sidebar-box {
  border: none;
  padding-top: 10px;
}
#site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li ul .widget-product .sidebar-box.woocommerce ul.product_list_widget li:first-child {
  margin-top: 0;
}
.dropdown-menu ul li.menu-item {
  border-bottom: none;
}
#site-navigation-wrap .main-navigation > .dropdown-menu > li > .sub-menu {
  padding: 30px;
}
.navigation > ul > li > ul.megamenu.sub-menu > li > a {
  text-transform: uppercase;
}
.navigation .megamenu li ul.sub-menu,
.navigation > ul > li > ul.megamenu.sub-menu > li {
  border: none;
}
.sf-menu > li.menu-item > .sub-menu,
.wcmenucart-toggle-drop_down .current-shop-items-dropdown {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block !important;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
}
.sf-menu > li.menu-item:hover > .sub-menu,
.wcmenucart-toggle-drop_down:hover .current-shop-items-dropdown {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  display: block !important;
}
.show-cart .wcmenucart-toggle-drop_down .current-shop-items-dropdown {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.wcmenucart-toggle-drop_down:hover .current-shop-items-dropdown {
  transform: translate(0, 0);
}
/* Mobile Menu */
.sidr-class-woo-wishlist-link,
#mobile-dropdown li.woo-wishlist-link,
#mobile-fullscreen li.woo-wishlist-link {
  display: none;
}
.sidr-class-mobile-searchform button[type="submit"] {
  padding: 0;
}
/* Header Cart */
.cart-total .icon-cart .woo-cart-shortcode {
  float: right;
}
.rtl .cart-total .icon-cart .woo-cart-shortcode {
  float: left;
}
.rtl.cart-total .icon-cart .woo-cart-shortcode {
  float: left;
}
.cart-total .icon-cart .woo-cart-shortcode:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  height: 70px;
  display: none;
}
.rtl .cart-total .icon-cart .woo-cart-shortcode:before {
  left: auto;
  right: 0;
}
.rtl.cart-total .icon-cart .woo-cart-shortcode:before {
  left: auto;
  right: 0;
}
.cart-total .icon-cart .woo-cart-shortcode:hover:before {
  display: block;
}
.cart-total .icon-cart .items {
  text-align: right;
  padding-right: 45px;
}
.rtl .cart-total .icon-cart .items {
  text-align: left;
}
.rtl.cart-total .icon-cart .items {
  text-align: left;
}
.rtl .cart-total .icon-cart .items {
  padding-left: 45px;
  padding-right: 0;
}
.cart-total .icon-cart .items .woocommerce-Price-amount {
  color: #3c3f46;
}
.icon-cart .current-shop-items-dropdown {
  top: 47px;
  right: 0;
}
.rtl .icon-cart .current-shop-items-dropdown {
  left: 0;
  right: auto;
}
.rtl.icon-cart .current-shop-items-dropdown {
  left: 0;
  right: auto;
}
/* Search */
.header-search .woocommerce-product-search {
  min-height: 44px;
}
.header-search .woocommerce-product-search .search-field {
  min-height: 45px;
  width: 82%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
}
.header-search .woocommerce-product-search #product_cat {
  display: none;
}
.header-search .woocommerce-product-search button[type='submit'] {
  margin: 0;
  position: absolute;
  right: 0px;
  top: 0;
  width: 90px;
  height: 45px;
  color: #fff;
  padding: 0;
  font-size: 0px;
  background-color: #3c3f46;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.rtl .header-search .woocommerce-product-search button[type='submit'] {
  left: 0px;
  right: auto;
}
.rtl.header-search .woocommerce-product-search button[type='submit'] {
  left: 0px;
  right: auto;
}
.header-search .woocommerce-product-search button[type='submit']:hover {
  background-color: #2cb8a5;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.woocommerce-product-search button[type='submit']:before {
  content: '\f002';
  font-family: 'FontAwesome';
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  height: 100%;
  line-height: 45px;
  font-weight: normal;
}
.rtl .woocommerce-product-search button[type='submit']:before {
  left: auto;
  right: 0;
}
.rtl.woocommerce-product-search button[type='submit']:before {
  left: auto;
  right: 0;
}
/* Slide */
.elementor .elementor-inner .elementor-element.slide-home .slick-slide-inner .slide-title {
  font-weight: 700;
}
.elementor .elementor-inner .elementor-element.slide-home .slick-slide-inner .slide-text {
  color: #7a7a7a;
}
.elementor .elementor-inner .elementor-element.slide-home .elementor-slick-slider .slick-dots-inside .slick-dots {
  bottom: 15px;
}
.elementor .elementor-inner .elementor-element.slide-home .elementor-repeater-item-e9a25bc .elementor-slide-button:hover {
  border-color: #2cb8a5;
  color: #fff;
}
/* end */
.entry-summary .cart .tinvwl_add_to_wishlist_button.tinvwl-icon-custom:hover,
.single-product div.product .entry-summary .cart .tinvwl_add_to_wishlist_button.inited-add-wishlist {
  background-color: #2cb8a5;
  color: #fff;
}
.woocommerce form.cart input[type="number"] {
  min-height: 40px;
  background: #fff;
  width: 40px;
}
.quantity .qty {
  -moz-appearance: textfield!important;
}
.woocommerce form.cart .quantity .minus,
.woocommerce form.cart .quantity .plus {
  min-height: 40px;
  line-height: 38px;
  font-size: 14px;
  background: #fff;
}
.woocommerce ul.products li.product .archive-page .inner .price {
  font-size: 16px;
  font-weight: 400;
}
.woocommerce ul.products li.product .archive-page .price del {
  color: #999;
}
.woocommerce ul.products li.product .archive-page .price del .amount {
  font-size: 14px;
}
.woocommerce ul.products li.product .archive-page .inner .price ins {
  font-size: 16px;
  font-weight: 400;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.image-wrap {
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.title a {
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.woocommerce ul.products li.product.has-rating:hover .inner .price {
  opacity: 0;
  visibility: hidden;
}
.woocommerce ul.products li.product.has-rating:hover .inner .star-rating {
  opacity: 1;
  visibility: visible;
}
.woocommerce:last-child .products .product {
  border-bottom: none;
}
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info {
  padding: 10px;
}
body.page #content-wrap {
  background: #fff;
  border-radius: 5px;
}
body.page #content-wrap .single-page-article .woocommerce-form-coupon-toggle .woocommerce-info {
  border-bottom: 1px solid #ddd;
  border-top: none;
}
body.page #content-wrap .single-page-article .woocommerce-form-coupon-toggle .woocommerce-info a:hover {
  color: #2cb8a5;
}
body.page #content-wrap .single-page-article .tinv-wishlist form tfoot .tinvwl-input-group-btn button.button {
  padding: 14px 20px;
}
body.page #content-wrap .single-page-article .tinv-wishlist form tfoot .tinvwl-to-right button {
  padding: 14px 20px;
}
.search-results article {
  border-bottom: none;
}
#woovina_recent_posts-1 h4::before {
  display: none;
}
/*Single Product*/
.single-product #main #content-wrap {
  padding-bottom: 20px;
}
.single-product ul.woocommerce-error {
  display: none;
}
.single-product #content-wrap {
  /*related*/
}
.single-product #content-wrap div.product .entry-summary {
  padding-left: 30px;
}
.rtl .single-product #content-wrap div.product .entry-summary {
  padding-right: 30px;
  padding-left: 0;
}
.single-product #content-wrap div.product .entry-summary .single-post-title {
  padding: 0;
  border-bottom: none;
}
.single-product #content-wrap div.product .entry-summary .woocommerce-product-rating {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #e5e5e5;
}
.single-product #content-wrap div.product .entry-summary p.price {
  font-size: 24px;
  margin: 10px 0;
}
.single-product #content-wrap div.product .entry-summary .is-countdown {
  position: relative;
  bottom: 0;
}
.single-product #content-wrap div.product .entry-summary .woocommerce-product-details__short-description {
  margin-top: 10px;
}
.single-product #content-wrap div.product .entry-summary .product_meta {
  border-top: none;
  border-bottom: none;
  margin-top: 0px;
  padding-bottom: 0;
}
.single-product #content-wrap div.product .entry-summary form.cart {
  border: none;
  padding-bottom: 0;
}
.single-product #content-wrap div.product .entry-summary p.out-of-stock {
  padding: 20px 0;
}
.single-product #content-wrap div.product .entry-summary .compare {
  letter-spacing: 0;
  text-transform: none;
  font-size: 14px;
  padding: 12.5px 15px 13px;
}
.single-product #content-wrap div.product .entry-summary .compare:before {
  display: inline-block;
  font-family: "simple-line-icons";
  content: "\e098";
  font-size: 14px;
  margin-right: 5px;
  font-weight: 500;
}
.rtl .single-product #content-wrap div.product .entry-summary .compare:before {
  margin-left: 5px;
  margin-right: 0;
}
.single-product #content-wrap div.product .entry-summary .compare.added {
  color: #fff;
  background-color: #2cb8a5;
}
.single-product #content-wrap div.product .entry-summary .compare.added:before {
  content: "\e080";
}
.single-product #content-wrap div.product .summary-content .product_meta {
  border-bottom: none;
  padding-bottom: 0;
}
.single-product #content-wrap .upsells.products {
  margin-top: 30px;
}
.single-product #content-wrap .related.products {
  margin-top: 0px;
}
.single-product #content-wrap .related h2 {
  margin-bottom: 30px;
}
.single-product #content-wrap .upsells.products,
.single-product #content-wrap .related.products {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.single-product.woocommerce #reviews #comments ol.commentlist li img.avatar {
  top: 0;
}
.single-product.woocommerce .products .product.is-countdown {
  padding: 0;
}
.single-product.woocommerce div.product .woocommerce-tabs .panel > h2:first-child {
  display: none;
}
.single-product .product .product-inner .is-countdown {
  display: none;
}
.woocommerce div.product .woocommerce-product-gallery .flex-control-thumbs li img,
.flex-viewport {
  border: 1px solid #e5e5e5;
}
.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button,
div.product form.cart .tinvwl_add_to_wishlist_button {
  padding: 11px;
  line-height: 1;
}
.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button:before,
div.product form.cart .tinvwl_add_to_wishlist_button:before {
  font-size: 17px;
}
.single-product div.product.outofstock .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button {
  padding: 10px;
  line-height: 16px;
}
.single-product .entry-content div.product.outofstock .entry-summary .tinv-wraper {
  float: left;
  margin-right: 10px;
}
.single-product div.product .entry-summary .tooltip {
  display: none;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button {
  padding-top: 10px;
  height: 40px;
  margin-top: 0;
  background-color: #363636;
  color: #fff;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button::before {
  content: "\e08a";
  font-family: 'simple-line-icons' !important;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  color: #fff;
  margin: 0;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button:hover {
  background-color: #2cb8a5;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button:hover:before {
  color: #fff;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-product-in-list {
  background-color: #2cb8a5;
}
.single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button .tinvwl_add_to_wishlist-text {
  padding-left: 10px;
  vertical-align: sub;
  font-size: 14px;
  font-weight: 600;
}
.rtl .single-product div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button .tinvwl_add_to_wishlist-text {
  padding-right: 10px;
  padding-left: 0;
}
.entry-summary form.cart .single_add_to_cart_button {
  font-weight: 600;
  padding: 14px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
}
.entry-summary form.cart .single_add_to_cart_button::before {
  content: "\f07a";
  font-family: "FontAwesome";
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 500;
}
.rtl .entry-summary form.cart .single_add_to_cart_button::before {
  float: right;
}
.rtl.entry-summary form.cart .single_add_to_cart_button::before {
  float: right;
}
.rtl .entry-summary form.cart .single_add_to_cart_button::before {
  margin-left: 10px;
  margin-right: 0;
}
.entry-summary form.cart .single_add_to_cart_button.added {
  display: none;
}
.entry-summary form.cart .btn-single-page {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.entry-summary form.cart .btn-single-page .btn-inner {
  float: left;
}
.entry-summary form.cart .btn-single-page .btn-inner:first-child {
  margin-right: 10px;
}
.single-product.woocommerce div.product.wvn-tabs-layout-vertical .woocommerce-tabs ul.tabs {
  width: 25%;
  border-right: 1px solid #e5e5e5;
}
.single-product.woocommerce div.product.wvn-tabs-layout-vertical .woocommerce-tabs ul.tabs li a {
  border-bottom: none;
}
.single-product.woocommerce div.product.wvn-tabs-layout-vertical .woocommerce-tabs .panel {
  width: 75%;
  border-left: none;
}
.woocommerce div.product .entry-summary form.cart .added_to_cart.wc-forward {
  display: inline-block;
  padding: 14px 15px 12px 35px;
  color: #fff;
  background: #2cb8a5;
  vertical-align: top;
  border-bottom: none;
  line-height: 1;
  position: relative;
  margin-left: 0;
  text-transform: capitalize;
  font-size: 14px;
}
.rtl .woocommerce div.product .entry-summary form.cart .added_to_cart.wc-forward {
  margin-right: 0;
  margin-left: 0;
}
.woocommerce div.product .entry-summary form.cart .added_to_cart.wc-forward::before {
  position: absolute;
  content: "\f217";
  font-family: 'FontAwesome';
  display: block;
  float: left;
  left: 14px;
}
.woocommerce div.product div.summary p.in-stock {
  padding-top: 10px;
}
.woocommerce.single-product div.product form.cart {
  margin-top: 0;
}
.wvn-qv-container .wvn-qv-content-inner div.product.outofstock .entry-summary .tinv-wraper,
.wvn-qv-container .wvn-qv-content-inner div.product.product-type-grouped .entry-summary form.cart .tinv-wraper {
  margin-top: 0;
  float: left;
}
.wvn-qv-container .wvn-qv-content-inner div.product.outofstock .entry-summary .single_add_to_cart_button,
.wvn-qv-container .wvn-qv-content-inner div.product.product-type-grouped .entry-summary form.cart .single_add_to_cart_button {
  float: left;
  margin-right: 10px;
}
.wvn-qv-container .wvn-qv-content-inner .entry-summary form.cart .tinv-wraper {
  margin-top: 15px;
}
/* Button Primary */
.wvn-floating-bar.show .right button.button {
  border-color: transparent;
  color: #666;
}
/* Product css */
.woocommerce ul.products li.product .woo-entry-inner .image-wrap .outofstock-badge {
  background-color: rgba(255, 255, 255, 0.9);
  color: #263545;
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 100%;
  z-index: 5;
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
  font-size: 11px;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.woocommerce .products .product.outofstock .outofstock-badge:before,
.woocommerce .products .product.onbackorder .outofstock-badge:before {
  content: "\f119";
  font-family: FontAwesome;
  font-size: 18px;
  font-weight: 100;
  padding-right: 4px;
}
.rtl .woocommerce .products .product.outofstock .outofstock-badge:before,
.rtl .woocommerce .products .product.onbackorder .outofstock-badge:before {
  padding-left: 4px;
  padding-right: 0;
}
.product-inner .woo-entry-inner .btn-addtocart a.added_to_cart:after {
  display: none;
}
.title h2 {
  position: relative;
}
.title h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: 2px solid #7a7a7a;
  z-index: 1;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.title-blog h2 {
  position: relative;
}
.title-blog h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: 2px solid #7a7a7a;
  z-index: 1;
  bottom: -15px;
}
.elementor-widget-wew-testimonial-carousel .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: auto;
}
.elementor-widget-wew-testimonial-carousel .elementor-swiper .swiper-slide {
  padding: 16px 20px;
}
.about-img .elementor-image {
  overflow: hidden;
}
.about-img img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about-img img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about-icon .woovina-social-icons {
  text-align: center;
}
/* product */
.woocommerce ul.products li.product {
  position: relative;
  padding: 0 10px;
}
.woocommerce ul.products li.product ul.woo-entry-inner {
  text-align: center;
  margin-bottom: 20px;
}
.woocommerce ul.products li.product ul.woo-entry-inner li {
  margin-bottom: 10px;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.inner {
  margin-top: 0;
}
.woocommerce .products .product .tinvwl_add_to_wishlist_button {
  position: relative;
  color: #3c3f46;
  padding: 0;
}
.woocommerce .products .product .tinvwl_add_to_wishlist_button::before {
  content: "\e08a";
  font-weight: 500;
  font-size: 18px;
  font-family: 'simple-line-icons' !important;
  margin-top: -10px;
  margin-left: -12px;
}
.woocommerce .products .product .tinvwl_add_to_wishlist_button:hover::before {
  color: #2cb8a5;
}
.woocommerce .products .product .tinv-wraper.tinv-wishlist {
  top: auto;
  right: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: auto !important;
}
.btn-inner .tooltip {
  position: absolute;
  left: 40px;
  width: auto;
  text-align: center;
  background-color: #2cb8a5;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 7px;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
  top: 50%;
  transform-origin: right;
  -webkit-transform: translateY(-50%) scaleY(0);
  -moz-transform: translateY(-50%) scaleY(0);
  -ms-transform: translateY(-50%) scaleY(0);
  -o-transform: translateY(-50%) scaleY(0);
  transform: translateY(-50%) scaleY(0);
  z-index: 98;
}
.rtl .btn-inner .tooltip {
  left: auto;
  right: 40px;
}
.rtl.btn-inner .tooltip {
  left: auto;
  right: 40px;
}
.btn-inner .tooltip::before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2cb8a5;
  position: absolute;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rtl .btn-inner .tooltip::before {
  left: auto;
  right: -5px;
}
.rtl.btn-inner .tooltip::before {
  left: auto;
  right: -5px;
}
.btn-inner .tooltip.for-addtocart {
  display: none;
}
.btn-inner:hover .tooltip {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}
.woocommerce ul.products li.product .btn-quickview.loading .wvn-quick-view::after {
  content: '\f110';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 24px;
  margin-left: -22px;
  top: -1px;
  vertical-align: -1px;
  -ms-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  position: absolute;
}
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-prev,
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-next {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  text-align: center !important;
  font-size: 0;
}
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-prev:hover,
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-next:hover {
  border-color: #2cb8a5;
}
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-prev:hover::before,
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-next:hover::before {
  color: #2cb8a5;
}
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-prev::before,
#wvn-qv-wrap .wvn-qv-content-wrap .flex-direction-nav a.flex-next::before {
  font-size: 18px;
  line-height: 28px;
}
.woocommerce ul.products li.product ul.woo-entry-inner .btn-positions {
  position: absolute;
  top: 10px;
  left: 10px;
}
.rtl .woocommerce ul.products li.product ul.woo-entry-inner .btn-positions {
  left: auto;
  right: 10px;
}
.rtl.woocommerce ul.products li.product ul.woo-entry-inner .btn-positions {
  left: auto;
  right: 10px;
}
.woocommerce ul.products li.product ul.woo-entry-inner .btn-positions .btn-inner {
  position: relative;
  height: 30px;
  width: 30px;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.btn-wrap {
  display: none;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.image-wrap .woo-entry-image::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: bottom;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.woocommerce ul.products li.product ul.woo-entry-inner li.image-wrap .btn-addtocart {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 5;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.woocommerce ul.products li.product ul.woo-entry-inner .btn-addtocart a {
  padding: 8px 20px;
  font-size: 14px;
}
.woocommerce ul.products li.product ul.woo-entry-inner .btn-addtocart a::before {
  content: "\f07a";
  font-family: FontAwesome;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
  line-height: 18px;
  vertical-align: -1px;
}
.woocommerce ul.products li.product.product-type-variable ul.woo-entry-inner .btn-addtocart a::before,
.woocommerce ul.products li.product.product-type-grouped ul.woo-entry-inner .btn-addtocart a::before,
.woocommerce ul.products li.product.outofstock ul.woo-entry-inner .btn-addtocart a::before {
  content: "\f00e";
}
.woocommerce ul.products li.product:hover ul.woo-entry-inner li.image-wrap .woo-entry-image::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.woocommerce ul.products li.product .compare.button,
.woocommerce ul.products li.product .tinv-wraper.tinv-wishlist {
  font-size: 0;
  padding: 0;
  text-align: center;
  background: none;
  color: #3c3f46;
  font-weight: normal;
}
.woocommerce ul.products li.product .compare.button:hover,
.woocommerce ul.products li.product .tinv-wraper.tinv-wishlist:hover {
  color: #2cb8a5;
  background-color: transparent;
}
.woocommerce .products .product .compare {
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 30px;
  width: 30px;
  line-height: 30px !important;
  left: 0;
}
.woocommerce .products .product .compare::before {
  font-family: 'simple-line-icons';
  content: "\e098";
  font-size: 18px;
}
.woocommerce .btn-quickview {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.woocommerce .btn-quickview .wvn-quick-view {
  font-size: 0;
  background-color: transparent;
  color: #3c3f46;
  padding: 0;
  line-height: 28px;
}
.woocommerce .btn-quickview .wvn-quick-view i {
  font-size: 18px;
  margin-right: -3px;
}
.woocommerce .btn-quickview .wvn-quick-view:hover {
  color: #2cb8a5;
}
.woocommerce .products .product:hover ul.woo-entry-inner li.image-wrap .btn-addtocart,
.woocommerce .products .product:hover .tinv-wraper.tinv-wishlist,
.woocommerce .products .product:hover .compare {
  opacity: 1;
  visibility: visible;
}
.page-header.background-image-page-header .page-header-inner .page-header-title {
  color: #fff;
}
/* shop */
.woocommerce nav.woocommerce-pagination ul.page-numbers,
.woovina-pagination ul.page-numbers {
  text-align: center;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers .page-numbers.current,
.woovina-pagination ul.page-numbers .page-numbers.current {
  background-color: #2cb8a5;
  color: #fff;
  border-color: #2cb8a5;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers .page-numbers:hover,
.woovina-pagination ul.page-numbers .page-numbers:hover {
  background-color: #2cb8a5;
  color: #fff;
  border-color: #2cb8a5;
}
.archive.woocommerce .woovina-toolbar {
  margin-bottom: 30px;
}
.archive.woocommerce ul.products.list li.product {
  border-bottom: none;
}
.archive.woocommerce ul.products.list li.product .woo-entry-image > a.wvn-quick-view {
  display: none;
}
.archive.woocommerce ul.products.list li.product .archive-page .inner .price {
  font-size: 20px;
}
.archive.woocommerce ul.products.list li.product .archive-page .inner .price del .amount {
  font-size: 18px;
}
.archive.woocommerce ul.products.list li.product .archive-page .inner .price ins .amount {
  font-size: 20px;
}
.archive.woocommerce ul.products.list ul.woo-entry-inner {
  text-align: left;
  margin-bottom: 30px;
}
.rtl .archive.woocommerce ul.products.list ul.woo-entry-inner {
  text-align: right;
}
.rtl.archive.woocommerce ul.products.list ul.woo-entry-inner {
  text-align: right;
}
.archive.woocommerce ul.products.list ul.woo-entry-inner li.title a {
  padding: 0;
}
.archive.woocommerce ul.products.list ul.woo-entry-inner li.btn-wrap {
  display: block;
}
#woovina-off-canvas-sidebar-wrap .sidebar-box.woocommerce ul.product_list_widget li {
  padding-left: 100px;
  padding-top: 25px;
}
#woovina-off-canvas-sidebar-wrap .sidebar-box.woocommerce ul.product_list_widget li img {
  left: 10px;
}
.rtl #woovina-off-canvas-sidebar-wrap .sidebar-box.woocommerce ul.product_list_widget li img {
  left: auto;
  right: 10px;
}
.rtl#woovina-off-canvas-sidebar-wrap .sidebar-box.woocommerce ul.product_list_widget li img {
  left: auto;
  right: 10px;
}
#woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box {
  margin-bottom: 20px;
}
#woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box:last-child {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}
/* hover -> compare, cart */
.woocommerce ul.products li.product .product-inner .woo-entry-inner .btn-addtocart a.added_to_cart.wc-forward {
  color: #fff;
  background-color: #2cb8a5;
  font-weight: 600;
  letter-spacing: 1px;
}
.woocommerce ul.products li.product .product-inner .woo-entry-inner .btn-addtocart a.added_to_cart.wc-forward::before {
  content: "\f217";
}
.woocommerce ul.products li.product .compare.button.added {
  display: block;
  font-size: 0;
}
.woocommerce ul.products li.product .compare.added {
  color: #2cb8a5;
}
.product-inner .woo-entry-inner .btn-addtocart a.added_to_cart:after {
  display: none;
}
.woocommerce .products .product .tinv-wraper.tinv-wishlist .tinvwl_add_to_wishlist_button.inited-add-wishlist::before {
  color: #2cb8a5;
}
/* end */
/* title home - product - sidebar*/
.woocommerce .sidebar-box.widget_price_filter .price_slider_amount .button {
  height: auto;
  padding: 3px 20px;
}
.centered-page-header .page-subheading {
  margin-bottom: 10px;
}
.sidebar-box h4 {
  border-bottom: 2px solid #f2f2f2;
  position: relative;
  padding-bottom: 13px;
}
.sidebar-box h4::after {
  content: '';
  width: 35px;
  display: block;
  position: absolute;
  border-bottom: 2px solid #7a7a7a;
  bottom: -2px;
}
.sidebar-box.woocommerce ul.product_list_widget li {
  width: 100%;
  border-bottom: 1px solid #e9ecf1;
  min-height: 120px;
  padding-top: 10px !important;
}
.sidebar-box.woocommerce ul.product_list_widget li:first-child {
  margin-top: 0px;
  min-height: 120px;
}
.sidebar-box.woocommerce ul.product_list_widget li:first-child img {
  top: 50%;
}
.sidebar-box.woocommerce ul.product_list_widget li:last-child {
  margin-bottom: 20px;
  min-height: 120px;
}
.sidebar-box.woocommerce ul.product_list_widget li img {
  z-index: 1;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  border: 1px solid #e5e5e5;
}
.rtl .sidebar-box.woocommerce ul.product_list_widget li img {
  left: auto;
  right: 0;
}
.rtl.sidebar-box.woocommerce ul.product_list_widget li img {
  left: auto;
  right: 0;
}
.sidebar-box.woocommerce ul.product_list_widget li a {
  font-size: 14px;
}
.sidebar-box.woocommerce ul.product_list_widget li a .product-title {
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.widget_layered_nav li.woocommerce-widget-layered-nav-list__item a {
  font-size: 14px;
}
.woocommerce.widget_price_filter form {
  margin: 0 15px;
  padding-bottom: 20px;
}
.yith-woocompare-widget {
  padding-bottom: 20px;
}
.yith-woocompare-widget a.clear-all {
  font-size: 13px;
}
.yith-woocompare-widget a.compare {
  background-color: #222;
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  margin-right: 15px;
}
.rtl .yith-woocompare-widget a.compare {
  margin-left: 15px;
  margin-right: 0;
}
.yith-woocompare-widget a.compare:hover {
  background-color: #2cb8a5;
}
.yith-woocompare-widget li.list_empty {
  font-size: 14px;
}
.woocommerce ul.product_list_widget li .amount {
  font-weight: 600;
}
.slidebar-left-best .sidebar-box,
.right-best .sidebar-box {
  margin-bottom: 0;
}
.new-product .sidebar-box {
  margin-bottom: 0;
}
/* */
.woocommerce ul.products li.product:hover .product-inner a.no-lightbox::after {
  visibility: visible;
  display: block;
}
.woocommerce ul.products li.product .product-inner a.no-lightbox {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
.woocommerce ul.products li.product .product-inner a.no-lightbox::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  visibility: hidden;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  transition: 0.4s all linear;
  position: absolute;
  display: none;
  z-index: 1;
}
.woocommerce ul.products li.product span.onsale,
.woocommerce .product span.onsale {
  z-index: 9;
  position: absolute;
  left: auto;
  top: 15px;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  min-width: 50px;
  padding: 0;
  background: #2cb8a5;
}
.rtl .woocommerce ul.products li.product span.onsale,
.rtl .woocommerce .product span.onsale {
  left: auto;
  right: auto;
}
.rtl.woocommerce ul.products li.product span.onsale,
.rtl.woocommerce .product span.onsale {
  left: auto;
  right: auto;
}
.woocommerce ul.products li.product span.onsale {
  right: 10px;
}
.rtl .woocommerce ul.products li.product span.onsale {
  left: 10px;
  right: auto;
}
.rtl.woocommerce ul.products li.product span.onsale {
  left: 10px;
  right: auto;
}
.woocommerce .entry-content span.onsale,
.woocommerce .product span.onsale {
  left: 10px;
}
.rtl .woocommerce .entry-content span.onsale,
.rtl .woocommerce .product span.onsale {
  left: auto;
  right: 10px;
}
.rtl.woocommerce .entry-content span.onsale,
.rtl.woocommerce .product span.onsale {
  left: auto;
  right: 10px;
}
.woocommerce table.shop_attributes {
  border: 1px solid #e4e4e4;
}
.single.woocommerce div.product {
  overflow: hidden;
}
/* end */
/* hover img product */
.woocommerce ul.products li.product:hover .woo-entry-inner .image-wrap .outofstock-badge {
  opacity: 0;
}
.woocommerce ul.products li.product:hover .woo-entry-image-swap .woo-entry-image-main {
  opacity: 0;
  /* IE8 filter*/
  filter: alpha(opacity=0);
}
.woocommerce ul.products li.product:hover .woo-entry-image-swap .woo-entry-image-secondary {
  opacity: 1;
  visibility: visible;
}
.woocommerce ul.products li.product .woo-entry-image-swap .woo-entry-image-secondary {
  opacity: 0;
  visibility: hidden;
}
/* jQuery Countdown styles 2.0.0. */
.products .product:hover .is-countdown {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.is-countdown {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 99;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #222;
  background: rgba(12, 207, 168, 0.6);
}
.countdown-row {
  width: 100%;
  display: inline-block;
  padding: 0px 2px;
  text-align: center;
  color: #222;
}
.countdown-row .countdown-section {
  width: 25%;
}
.countdown-section {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
}
.countdown-amount {
  line-height: 20px;
}
.countdown-period {
  display: block;
  padding-bottom: 5px;
}
.countdown-descr {
  display: block;
  width: 100%;
}
/* blog */
.woovina-recent-posts .recent-posts-comments a:hover {
  color: #2cb8a5;
}
.blog-entry-inner .meta li,
.blog-entry-inner .meta a,
.blog-entry-inner .meta i {
  text-transform: capitalize;
}
.blog-entry-inner .meta i.icon-clock {
  display: none;
}
.blog-entry-inner .gallery-format .slick-prev:hover,
.blog-entry-inner .gallery-format .slick-next:hover {
  background-color: rgba(12, 207, 168, 0.8);
}
.blog-entry.grid-entry .blog-entry-readmore a {
  color: #2cb8a5;
}
#blog-entries .blog-entry-inner .thumbnail .link-entry {
  position: absolute;
  top: -30px;
  right: -10px;
  width: 50px;
  height: 50px;
}
/* contact */
.title-form h3 {
  position: relative;
}
.title-form h3::before,
.title-form h3::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
}
.title-form h3::after {
  width: 40px;
  bottom: -4px;
}
/* Group Product */
.woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__quantity {
  margin-right: 10px;
  vertical-align: middle;
}
.rtl .woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__quantity {
  margin-left: 10px;
  margin-right: 0;
}
.woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__quantity .quantity {
  float: none;
  margin-right: 0px;
}
.rtl .woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__quantity .quantity {
  margin-left: 0px;
  margin-right: 0;
}
.woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__label {
  display: inline-block;
  padding-bottom: 0;
}
.woocommerce div.product table.group_table tr td.woocommerce-grouped-product-list-item__price {
  display: block;
  vertical-align: top;
  padding-top: 0;
  float: none;
  border-top: none;
}
/* Blog */
.blog .blog-entry.post .blog-entry-header .entry-title a:hover {
  color: #2cb8a5;
}
/* footer */
#footer-widgets .col-footer h5 {
  color: #fff;
}
#footer-widgets .woovina-social-icons.style-light li a {
  background-color: #252525;
  border-color: #777;
  color: #7a7a7a;
}
#footer-widgets .woovina-custom-links li a {
  font-size: 14px;
}
#footer-widgets .woovina-custom-links li a::before {
  display: none;
}
#footer-widgets .news-letter .woovina-newsletter-form-wrap input[type="email"] {
  border: 1px solid #7a7a7a;
  border-radius: 0;
}
#footer-widgets .news-letter .woovina-newsletter-form-wrap .button {
  bottom: -150%;
  width: auto;
  height: 40px;
  top: auto;
  transform: translateY(0);
  right: auto;
  border-radius: 0;
}
.rtl #footer-widgets .news-letter .woovina-newsletter-form-wrap .button {
  left: auto;
  right: auto;
}
.rtl#footer-widgets .news-letter .woovina-newsletter-form-wrap .button {
  left: auto;
  right: auto;
}
#footer-bottom #footer-bottom-menu ul.menu li {
  margin-left: 20px;
}
#footer-bottom #footer-bottom-menu ul.menu li a {
  color: #a0a0a0;
}
#footer-bottom-menu ul.menu li a i.icon:hover {
  color: #2cb8a5;
}
#footer-bottom #footer-bottom-menu li::after {
  display: none;
}
#footer-bottom #copyright {
  height: 28px;
  line-height: 28px;
}
/*sidebar-blog*/
.woovina-widget-recent-posts-li:first-child,
.widget_categories li:first-child,
.widget_recent_entries li:first-child,
.widget_archive li:first-child,
.widget_recent_comments li:first-child,
.widget-recent-posts-icons li:first-child,
.site-footer .widget_nav_menu li:first-child {
  border: none !important;
}
.woovina-widget-recent-posts-li,
.widget_categories li,
.widget_recent_entries li,
.widget_archive li,
.widget_recent_comments li,
.widget-recent-posts-icons li,
.site-footer .widget_nav_menu li {
  border: none !important;
}
.woovina-widget-recent-posts-li,
.widget_categories li,
.widget_recent_entries li,
.widget_archive li,
.widget_recent_comments li,
.widget-recent-posts-icons li,
.site-footer .widget_nav_menu li {
  font-size: 14px;
}
.page-header.background-image-page-header .site-breadcrumbs {
  margin-top: 0;
}
.content-left-sidebar .content-area {
  border: none;
  padding-left: 15px;
}
.content-left-sidebar .widget-area {
  padding-right: 15px;
}
.content-right-sidebar .content-area {
  border: none;
  padding-right: 15px;
}
.content-right-sidebar .widget-area {
  padding-left: 15px;
}
.content-right-sidebar .product-categories li.cat-parent ul.children {
  left: auto;
  right: 100%;
}
.content-both-sidebars.scs-style .content-area {
  border: none;
  padding-right: 15px;
  padding-left: 15px;
}
.content-both-sidebars.scs-style .widget-area.sidebar-secondary {
  padding-right: 15px;
}
.content-both-sidebars.scs-style #right-sidebar {
  padding-left: 15px;
}
.content-both-sidebars.scs-style .product-categories li.cat-parent ul.children {
  left: auto;
  right: 100%;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent ul.children li a {
  padding-left: 0;
}
#main .woocommerce.columns-6 {
  padding-top: 50px;
  padding-bottom: 30px;
}
#woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box {
  padding-top: 0;
  padding-bottom: 20px;
}
.woocommerce-address-fields #billing_country_field .select2-container--default .select2-selection--single,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper .select2-container--default .select2-selection--single,
.woocommerce-address-fields #billing_country_field #shipping_country_field .select2-selection--single,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper #shipping_country_field .select2-selection--single {
  padding: 19px 0;
  border: 1px solid #ddd;
}
.woocommerce-address-fields #billing_country_field .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-address-fields #billing_country_field #shipping_country_field .select2-selection--single .select2-selection__rendered,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper #shipping_country_field .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  height: 40px;
  margin: -20px;
  padding-left: 32px;
}
.rtl .woocommerce-address-fields #billing_country_field .select2-container--default .select2-selection--single .select2-selection__rendered,
.rtl .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered,
.rtl .woocommerce-address-fields #billing_country_field #shipping_country_field .select2-selection--single .select2-selection__rendered,
.rtl .woocommerce-address-fields .woocommerce-address-fields__field-wrapper #shipping_country_field .select2-selection--single .select2-selection__rendered {
  padding-right: 32px;
  padding-left: 0;
}
.woocommerce-address-fields #billing_country_field .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-address-fields #billing_country_field #shipping_country_field .select2-selection--single .select2-selection__arrow,
.woocommerce-address-fields .woocommerce-address-fields__field-wrapper #shipping_country_field .select2-selection--single .select2-selection__arrow {
  margin-top: 7px;
}
body .woovina-row .col,
.blog-carousel .wew-carousel .wew-carousel-slide {
  padding: 0 10px;
}
body .woovina-row {
  margin: 0 -10px !important;
}
.blog-carousel:hover .wew-carousel .slick-arrow {
  opacity: 1;
}
.blog-carousel .wew-carousel .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #ececec !important;
  opacity: 0;
}
.blog-carousel .wew-carousel .slick-arrow:hover {
  background-color: #2cb8a5 !important;
}
.blog-carousel .wew-carousel .slick-prev {
  left: 0;
}
.blog-carousel .wew-carousel .slick-next {
  right: 0;
}
.blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details {
  text-align: left;
}
.rtl .blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details {
  text-align: right;
}
.rtl.blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details {
  text-align: right;
}
.blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details .meta {
  position: absolute;
  top: 0;
  width: 130px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #121212;
  color: #fff;
  font-weight: 600;
}
.blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details .meta li {
  text-transform: capitalize;
}
.blog-carousel .wew-carousel .wew-carousel-slide .wew-carousel-entry-details .meta li i {
  display: none;
}
.woocommerce div.product .entry-summary form.cart {
  border-top: none;
}
.img-carousel:hover .elementor-slick-slider .slick-slider .slick-arrow {
  opacity: 1;
}
.img-carousel .elementor-slick-slider .slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #ececec;
  opacity: 0;
}
.img-carousel .elementor-slick-slider .slick-slider .slick-arrow:hover {
  background-color: #2cb8a5;
}
.img-carousel .elementor-slick-slider .slick-slider .slick-arrow:hover::before {
  color: #fff !important;
}
.img-carousel .elementor-slick-slider .slick-slider .slick-prev {
  left: 0;
}
.img-carousel .elementor-slick-slider .slick-slider .slick-next {
  right: 0;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-item {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-item a {
  text-transform: none;
  border-bottom: none;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent .open-this {
  position: absolute;
  right: 0;
  left: auto;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  color: #666;
}
.rtl .woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent .open-this {
  left: 0;
  right: auto;
}
.rtl.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent .open-this {
  left: 0;
  right: auto;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent .open-this .fa-angle-down::before {
  content: '\f055';
  font-family: FontAwesome;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent .open-this .fa-angle-up::before {
  content: '\f056';
  font-family: FontAwesome;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent > ul.children li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.woo-dropdown-cat .sidebar-box.widget_product_categories li.cat-parent > ul.children li:last-child {
  border-bottom: none;
}
/* flex-control-thumbs */
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-list {
  margin: 0 -5px !important;
}
.woocommerce div.product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: none;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider li.slick-slide {
  margin: 0 5px;
}
.rtl.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .draggable {
  direction: ltr;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider:hover .slick-arrow {
  opacity: 1;
  /* IE8 filter */
  filter: alpha(opacity=100);
  visibility: visible;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider:hover .slick-arrow.slick-prev {
  left: 0;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider:hover .slick-arrow.slick-next {
  right: 0 ;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow {
  width: 30px;
  height: 30px;
  border: 1px solid #b5b5b5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  background-color: #fff;
  /* IE8 filter */
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow:before {
  font-size: 18px;
  line-height: 30px;
  font-family: "FontAwesome";
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #b5b5b5;
  display: inherit;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow:hover {
  border-color: #2cb8a5;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow:hover:before {
  color: #2cb8a5;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow.slick-prev {
  left: 20px ;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow.slick-prev:before {
  content: '\f104';
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow.slick-next {
  right: 20px;
}
.single-product .product.wvn-thumbs-layout-horizontal .woocommerce-product-gallery .flex-control-thumbs.slick-slider .slick-arrow.slick-next:before {
  content: '\f105';
}
.woocommerce div.product .woocommerce-tabs.wc-tabs-wrapper {
  margin-top: 40px;
}
.woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  z-index: 9 !important;
}
.wpforms-form .wpforms-field-container div.wpforms-field textarea,
.wpforms-form .wpforms-field-container div.wpforms-field .wpforms-field-large{
  background-color: #f5f9fa;
  color: #969ca7;
}
.wpforms-form .wpforms-submit-container button[type="submit"].sub-form{
  background-color: #2cb8a5;
  color: #fff;
  border: 2px solid #2cb8a5;
  border-radius: 3px;
  letter-spacing: 1px;
}
.wpforms-form .wpforms-submit-container button[type="submit"].sub-form:hover{
  background-color: #fff;
  color: #2cb8a5;
  border: 2px solid #2cb8a5;
}
@media only screen and (min-width: 1200px) {
  /* Genius */
  .woo-dropdown-cat .widget_product_categories .product-categories .open-this {
    display: none;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li {
    background-color: #fff;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent {
    position: relative;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent::before {
    position: absolute;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 14px;
    right: 15px;
    top: 10px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li ul.children {
    display: block;
    position: absolute;
    left: 100%;
    z-index: -1;
    top: -1px;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    margin: 0;
    min-width: 250px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: visible;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li ul.children > li {
    padding: 0 15px;
    line-height: unset;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li ul.children li:last-child {
    border-bottom: 1px;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent:hover > a {
    color: #2cb8a5;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent:hover::before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #2cb8a5;
  }
  .woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent:hover > ul.children {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  #site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li.woo-wishlist-link {
    margin-left: 78px;
  }
  .rtl #site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li.woo-wishlist-link {
    margin-right: 78px;
    margin-left: 0;
  }
  #site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li.wcmenucart-toggle-drop_down {
    margin-left: 15px;
  }
  .elementor .elementor-inner .elementor-element.slide-home .slick-arrow {
    width: 50px;
    height: 50px;
    background-color: #777;
  }
  .elementor .elementor-inner .elementor-element.slide-home .slick-arrow:hover {
    background-color: #2cb8a5;
  }
  .elementor .elementor-inner .elementor-element.slide-home .elementor-repeater-item-e9a25bc .slick-slide-inner,
  .elementor .elementor-inner .elementor-element.slide-home .elementor-repeater-item-0e60bbb .slick-slide-inner {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
  }
  #site-logo #site-logo-inner a img {
    width: 100px;
  }
  .elementor .elementor-inner .elementor-element.column-blog {
    width: 75%;
  }
  .elementor .elementor-inner .elementor-element.column-testimonial {
    width: 25%;
  }
  .site-footer #footer-widgets .container {
    width: 1200px;
  }
  body #footer-inner .woovina-row {
    margin: 0 !important;
  }
  /* product carousel */
  .product-carousel {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  #top-bar.container {
    padding: 0 10px;
  }
  body #footer-widgets.woovina-row .footer-box {
    padding: 0 10px;
  }
  .is-sticky #site-header-inner {
    padding: 0 15px!important;
  }
  .sf-menu > li.menu-item > .sub-menu {
    -webkit-transform: translateY(40px) translateX(10px);
    -moz-transform: translateY(40px) translateX(10px);
    -ms-transform: translateY(40px) translateX(10px);
    -o-transform: translateY(40px) translateX(10px);
    transform: translateY(40px) translateX(10px);
  }
  .sf-menu > li.menu-item:hover > .sub-menu {
    -webkit-transform: translateY(0px) translateX(10px);
    -moz-transform: translateY(0px) translateX(10px);
    -ms-transform: translateY(0px) translateX(10px);
    -o-transform: translateY(0px) translateX(10px);
    transform: translateY(0px) translateX(10px);
  }
  #site-logo #site-logo-inner a img {
    width: 100px;
  }
  .header-search .woocommerce-product-search .search-field {
    width: 75%;
  }
  #site-header-inner #site-navigation #menu-main-menu.dropdown-menu > li.wcmenucart-toggle-drop_down {
    margin-left: 15px;
  }
  .elementor .elementor-inner .elementor-element.slide-home .slick-arrow {
    width: 40px;
    height: 40px;
    background-color: #777;
  }
  .blog-carousel .wew-carousel .slick-arrow,
  .img-carousel .elementor-slick-slider .slick-slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .title h2::after,
  .title-blog h2::after {
    bottom: -20px;
  }
  .sidebar-box {
    margin-bottom: 20px;
  }
  .blog-carousel .wew-carousel-blog .wew-carousel-slide .wew-carousel-entry-details .readmore-btn {
    margin-top: 15px;
  }
  #footer-bottom #copyright {
    line-height: 20px;
  }
  .single-product.woocommerce div.product .related .woovina-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .single-product.woocommerce div.product .related .woovina-row .product {
    width: 100%;
  }
  .single-product.woocommerce div.product .related .woovina-row .product:last-child {
    display: none;
  }
  .single-product.content-right-sidebar .content-area {
    padding-right: 0;
  }
  .about-footer,
  .column-testimonial {
    display: none !important;
  }
  #footer-inner #footer-widgets {
    padding: 25px 0 25px 0;
  }
  .dokan-form-inline.dokan-product-date-filter {
    width: 100%;
  }
  .dokan-form-inline.dokan-product-search-form {
    width: 100%;
    position: relative;
  }
  .dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form .dokan-form-group {
    float: left;
  }
  .dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form button[name="product_listing_search"] {
    float: none;
    position: absolute;
    left: 305px;
    top: 0;
  }
  .rtl.dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form .dokan-form-group {
    float: right;
  }
  .rtl.dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form button[name="product_listing_search"] {
    left: auto;
    right: 305px;
  }
  .chart-container .legend > div,
  .chart-container .legend > table {
    width: 88%;
  }
}
@media (max-width: 1200px) and (min-width: 959px) {
  #footer-inner .elementor .elementor-element.column-footer {
    width: 25%;
  }
}
@media only screen and (min-width: 960px) {
  .woovina-off-canvas-filter {
    display: none;
  }
  .elementor .elementor-element.header-mobile {
    display: none;
  }
  .elementor .elementor-inner .elementor-element.new-product {
    width: 25%;
  }
  #footer-bottom #copyright {
    width: 60%;
  }
  #footer-bottom #footer-bottom-menu {
    width: 40%;
    height: 28px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 959px) {
  #top-bar #top-bar-content #top-bar-nav {
    display: none;
  }
  #top-bar-wrap {
    z-index: 1;
  }
  #top-bar .topbar-content {
    float: none;
  }
  .rtl #top-bar .topbar-content {
    float: none;
  }
  .rtl#top-bar .topbar-content {
    float: none;
  }
  .sidebar-container,
  .elementor .elementor-element.menu-mobi {
    display: none;
  }
  .elementor .elementor-element.header-dekstop {
    display: none;
  }
  body.default-breakpoint .center-logo #site-logo {
    position: relative;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .elementor .column-product.elementor-element.elementor-wc-products ul.products {
    grid-template-columns: repeat(3, 1fr);
  }
  .elementor .column-product.elementor-element.elementor-wc-products ul.products .product:nth-child(2),
  .elementor .column-product.elementor-element.elementor-wc-products ul.products .product:nth-child(6) {
    display: none;
  }
  #woovina-toolbar.active{
    position: unset;
  }
  #woovina-toolbar {
    position: absolute;
    z-index: 99;
  }
  div#mobile-navbar.active {
    z-index: 99;
  }
  .woovina-mobile-menu-icon .wcmenucart-count .wcmenucart-details {
    background-color: #2cb8a5;
  }
  .woovina-mobile-menu-icon .wcmenucart-count .wcmenucart-details::before {
    border-color: #2cb8a5;
  }
  .woovina-mobile-menu-icon a:hover span.woovina-text {
    color: #666;
  }
  .woovina-mobile-menu-icon a.mobile-menu:hover {
    color: #666;
  }
  .woovina-menucart-title{
    text-align: center;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container {
    z-index: 999999;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main {
    padding: 0;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woocommerce-mini-cart__empty-message {
    margin-left: 20px;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woocommerce-mini-cart__empty-message {
    margin-right: 20px;
    margin-left: 0;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__close-button {
    right: 10px;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__close-button {
    left: 10px;
    right: auto;
  }
  .rtl.elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__close-button {
    left: 10px;
    right: auto;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__close-button::before,
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__close-button::after {
    width: 80%;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal {
    background: #fafafa;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-color: #e6e6e6;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal strong {
    float: left;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal strong {
    float: right;
  }
  .rtl.elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal strong {
    float: right;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal .amount {
    float: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1px;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal .amount {
    float: left;
  }
  .rtl.elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__subtotal .amount {
    float: left;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__footer-buttons a {
    padding: 14px 8px;
    width: 120px;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__footer-buttons a.elementor-button--view-cart {
    margin-left: 40px;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__footer-buttons a.elementor-button--view-cart {
    margin-right: 40px;
    margin-left: 0;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .woovina-menucart__footer-buttons a:hover {
    background-color: #2cb8a5;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item {
    padding: 0;
    border-bottom-color: #e6e6e6;
    position: relative;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .woovina-menucart__product-image {
    border-right: 1px solid #e6e6e6;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .product-name {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 50px;
    margin-right: 35px;
    margin-top: 20px;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .product-price {
    margin-bottom: 30px;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .product-remove {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .product-remove {
    left: 20px;
    right: auto;
  }
  .rtl.elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item .product-remove {
    left: 20px;
    right: auto;
  }
  .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__container .woovina-menucart__main .cart_item:first-child {
    border-top: 1px solid #e6e6e6;
  }
  body.content-full-screen .elementor-inner .elementor-section-wrap > .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 100%;
  }
  .new-product .elementor-element-populated .sidebar-box {
    margin-bottom: 0;
  }
  .blog-carousel .wew-carousel-blog .wew-carousel-slide .wew-carousel-entry-media {
    width: 100%;
    float: none;
  }
  .blog-carousel .wew-carousel-blog .wew-carousel-slide .wew-carousel-entry-details {
    width: 100%;
    padding-right: 0;
  }
  .content-right-sidebar .content-area {
    padding-right: 0;
  }
  .content-right-sidebar .widget-area {
    padding-left: 0;
  }
  .content-left-sidebar .content-area,
  .content-area {
    margin-bottom: 0;
    padding-left: 0;
  }
  .content-left-sidebar .widget-area {
    padding-right: 0;
  }
  .single-page-article .columns-5 .products,
  .columns-6 .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .single-page-article .columns-5 .products .product,
  .columns-6 .products .product {
    width: 100%;
  }
  .archive #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar {
    padding: 30px 10px;
  }
  .archive #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box.widget_custom_html {
    border: none;
  }
  .archive #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .sidebar-box.widget_custom_html h4 {
    margin-bottom: 0;
    font-size: 24px;
    color: #2cb8a5;
  }
  .archive #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .custom-menu-widget .woovina-custom-menu > ul > li:hover {
    color: #2cb8a5;
  }
  .archive #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar .custom-menu-widget .woovina-custom-menu > ul > li:last-child {
    border-bottom: none;
  }
  .rtl.content-left-sidebar .content-area {
    padding-right: 0 !important;
  }
  .rtl .elementor .elementor-inner .elementor-element.mobi-cart .woovina-menucart__toggle {
    text-align: left;
  }
  .rtl .elementor .elementor-inner .elementor-element.menu-header .custom-header-nav .woovina-mobile-menu-icon {
    text-align: right;
  }
  .rtl .content-area {
    padding-left: 0;
  }
  .rtl #footer-bottom #footer-bottom-menu,
  .rtl #footer-bottom #copyright {
    float: none;
    text-align: center;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar {
    width: 100%;
    background-color: transparent;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu {
    background-color: transparent;
    overflow-x: auto !important;
    padding-bottom: 20px;
    white-space: nowrap;
    z-index: 0;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu > li {
    display: inline-block;
    background-color: #242424;
    border-bottom: 0;
    vertical-align: top;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu > li.active:after {
    display: none;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu > li:not(:first-child) a {
    border: 0;
    border-left: 1px solid #454545;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
    padding: 10px 18px 10px 18px;
    width: auto;
    background-color: #242424;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links {
    width: auto;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links .tooltip {
    display: none!important;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a i {
    padding: 0;
  }
  .dokan-dashboard .dokan-dashboard-wrap .dokan-dashboard-content {
    width: 100%;
    padding: 0;
  }
  .dokan-dashboard .dokan-product-listing .dokan-product-listing-area {
    padding: 0;
  }
  .dokan-orders-content .dokan-orders-area ul.order-statuses-filte {
    margin-left: 0;
  }
  .dokan-store .woocommerce ul.products li.product {
    width: 50%!important;
    clear: none;
  }
  .rtl.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu > li:not(:first-child) a {
    border-left: 0;
    border-right: 1px solid #454545;
  }
}
@media (max-width: 959px) and (min-width: 768px) {
  .column-product .woocommerce ul.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
  }
  .column-product .woocommerce ul.products .product{
    width: 100% !important;
  }
  .dokan-dashboard .single-page-article .dokan-dashboard-content {
    width: 75%;
    padding-left: 20px;
  }
  .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form button[name="product_listing_search"] {
    float: left;
    width: auto;
    height: 36px;
  }
  .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form .dokan-form-group {
    width: auto;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .woocommerce div.product .entry-summary .single-post-title {
    margin-top: 20px;
  }
  .woocommerce ul.products li.product ul.woo-entry-inner .btn-positions {
    top: 5px;
  }
  .sidr-open .container {
    padding: 0;
  }
  .sidr-open .header-mobile {
    left: auto !important;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .wc-tabs-wrapper ul.wc-tabs {
    overflow-x: auto !important;
    padding-bottom: 20px;
    white-space: nowrap;
    z-index: 0;
    text-align: center;
    border: none !important;
  }
  .wc-tabs-wrapper ul.wc-tabs li {
    display: inline-block !important;
  }
  .wc-tabs-wrapper ul.wc-tabs li a {
    border-bottom-width: 1px;
  }
  .sidr-open #mobile-navbar {
    left: auto;
    right: auto;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .site-breadcrumbs {
    display: block !important;
  }
  .woocommerce ul.products li.product ul.woo-entry-inner li.image-wrap .btn-addtocart {
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .woocommerce ul.products li.product ul.woo-entry-inner li.image-wrap .btn-addtocart a {
    width: 100%;
  }
  .woocommerce div.product div.wvn-qv-image.images {
    float: left;
  }
  .elementor .elementor-inner .elementor-element.slide-home .slick-arrow {
    display: none !important;
  }
  .woocommerce ul.products li.product .product-inner a.no-lightbox {
    width: 100%;
  }
  .header-mobile.elementor-sticky--effects {
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
    width: 100% !important;
  }
  .section-blog.elementor-section-stretched,
  .section-tom.elementor-section-stretched {
    width: 100% !important;
  }
  .woocommerce ul.products.grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .woocommerce ul.products.grid li.product {
    width: 100%;
  }
  #wvn-qv-wrap .wvn-qv-container {
    padding: 15px;
  }
  body #scroll-top {
    bottom: 80px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    z-index: 50;
  }
  #mobile-navbar.navigation {
    z-index: 999;
  }
  #mobile-navbar.navigation ul li.current_page_item a {
    color: #2cb8a5;
  }
  #mobile-navbar.navigation ul li a:hover {
    color: #2cb8a5;
  }
  #wvn-qv-wrap .wvn-qv-content-wrap {
    z-index: 9999;
  }
  #wvn-qv-wrap .wvn-qv-content-wrap .product .entry-summary {
    padding: 30px 10px;
  }
  .sidebar-box.woocommerce ul.product_list_widget li:first-child {
    margin-top: 0;
  }
  .product-carousel ul.products li.product.col {
    width: 50vw !important;
  }
  #footer-widgets .col {
    width: 100%;
  }
  .single-product #content-wrap div.product .entry-summary {
    padding-left: 0;
  }
  .woovina-mobile-menu-icon .wcmenucart i {
    font-size: 24px;
  }
  .about-mobi.elementor-column {
    width: 50%;
  }
  .rtl.woocommerce .woovina-off-canvas-filter,
  .rtl.woocommerce .woovina-grid-list,
  .rtl.woocommerce .woocommerce-ordering {
    float: none;
  }
  .rtl.single-product #content-wrap div.product .entry-summary {
    padding-right: 0 !important;
  }
  .dokan-store #dokan-form-contact-seller input[type="submit"] {
    margin-bottom: 30px;
  }
  .dokan-store .dokan-store-sidebar,
  .dokan-store .dokan-single-store {
    margin: 0!important;
    width: 100%!important;
  }
  .dokan-order-filter-serach .dokan-left {
    margin-right: 10px;
  }
  .dokan-order-filter-serach .dokan-right {
    float: left!important;
  }
  .dokan-product-listing-area .dokan-product-date-filter > button {
    float: left;
  }
  .dokan-orders-content .dokan-orders-area ul.order-statuses-filter {
    margin-left: 0;
  }
  .rtl .dokan-order-filter-serach .dokan-right {
    float: right !important;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .woocommerce ul.products.list li.product .product-inner .woo-entry-image {
    width: 50%;
  }
  .woocommerce ul.products.list li.product .product-inner .woo-entry-inner {
    width: 50%;
    padding: 0 10px;
  }
  .archive.woocommerce ul.products.list li.product .is-countdown {
    width: 47%;
  }
  .elementor .elementor-inner .elementor-element.new-product {
    width: 50%;
  }
}
@media only screen and (max-width: 559px) {
  body .woovina-row .blog-entry.span_1_of_2 {
    width: 100%;
  }
  .elementor .column-product.elementor-element.elementor-wc-products ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product.woocommerce div.product .related .woovina-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product.woocommerce div.product .related .woovina-row .product:last-child {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .woocommerce ul.products li.product ul.woo-entry-inner .btn-addtocart a {
    padding: 5px 10px;
  }
  .elementor .elementor-element.elementor-wc-products ul.products.woovina-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .is-countdown {
    display: none;
  }
  .woovina-mobile-menu-icon .woovina-text {
    display: none;
  }
  .woocommerce ul.products.grid li.product {
    width: 100%;
  }
  .archive.woocommerce ul.products.list ul.woo-entry-inner {
    margin-bottom: 20px;
  }
  .archive.woocommerce ul.products.list li.product .is-countdown {
    width: 100%;
  }
  .woocommerce ul.products.list li.product .woo-entry-image {
    text-align: center;
  }
  #footer-bottom #footer-bottom-menu {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .dokan-product-listing .dokan-product-listing-area .product-listing-top {
    padding-bottom: 10px;
  }
  .dokan-product-listing .dokan-product-listing-area .product-listing-top ul.dokan-listing-filter {
    margin-bottom: 0;
    line-height: 1.5em;
  }
  .dokan-dashboard .dokan-w6.dokan-product-search-form {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .dokan-dashboard .dokan-w6.dokan-product-search-form .dokan-form-group {
    width: 60%;
  }
  .dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form button[name="product_listing_search"] {
    left: 63%;
  }
  .dokan-order-filter-serach .dokan-left .dokan-form-group input.dokan-btn {
    margin-top: 10px;
  }
  .dokan-dashboard .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link {
    float: none!important;
  }
  .rtl.dokan-dashboard .dokan-product-listing .dokan-product-listing-area form.dokan-product-search-form button[name="product_listing_search"] {
    left: auto;
    right: 63%;
  }
  .rtl.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link a {
    float: right !important;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .elementor .column-product.elementor-element.elementor-wc-products ul.products,
  .woocommerce ul.products.grid,
  .single-product.woocommerce div.product .related .woovina-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-mobi.elementor-column {
    width: 100%;
  }
  .wvn-qv-container .wvn-qv-content-inner .product.product-type-variable .entry-summary form.cart .tinv-wraper,
  .wvn-qv-container .wvn-qv-content-inner .product.onbackorder .entry-summary form.cart .tinv-wraper,
  .wvn-qv-container .wvn-qv-content-inner .product.product-type-simple .entry-summary form.cart .tinv-wraper {
    width: 100%;
    margin-top: 10px;
  }
  .off-canvas-enabled #woovina-off-canvas-sidebar-wrap .woovina-off-canvas-sidebar {
    width: 280px;
  }
  .archive.woocommerce .woocommerce-ordering .orderby {
    width: 100%!important;
  }
  .dokan-store .woocommerce ul.products li.product {
    width: 100%!important;
    clear: none;
  }
  .rtl .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a {
    padding: 10px 4px !important;
  }
}
.rtl .elementor .elementor-element.menu-mobi .woovina-searchform button {
  right: auto;
}
.rtl .category-menu h5 {
  background-position-x: 5%;
}
.rtl .elementor .new-product .title-blog {
  text-align: right;
}
.rtl .elementor-testimonial--layout-image_inline.elementor-testimonial--align-left .elementor-testimonial__image + cite {
  margin-left: 20px;
  margin-right: 0;
}
.rtl .yith-woocompare-widget a.compare {
  float: left;
}
.rtl .sidebar-box.woocommerce ul.product_list_widget li,
.rtl .new-product .woocommerce ul.product_list_widget li {
  padding-left: 0;
  padding-right: 94px;
}
.rtl .wcmenucart-details {
  margin-right: 0;
  margin-left: 8px;
}
.rtl.woocommerce .btn-quickview .wvn-quick-view i,
.rtl .woocommerce .btn-quickview .wvn-quick-view i {
  margin-right: 0;
  margin-left: -6px;
}
.rtl .woocommerce ul.products li.product ul.woo-entry-inner .btn-addtocart a::before {
  margin-left: 10px;
  margin-right: 0;
}
.rtl.woocommerce ul.products li.product .btn-quickview.loading .wvn-quick-view::after,
.rtl .woocommerce ul.products li.product .btn-quickview.loading .wvn-quick-view::after {
  margin-right: -22px;
  margin-left: 0;
}
.rtl.woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent::before {
  left: 15px;
  right: auto;
}
.rtl.woo-dropdown-cat .widget_product_categories .product-categories li.cat-parent:hover::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rtl.woo-dropdown-cat .widget_product_categories .product-categories li ul.children {
  left: auto;
  right: 100%;
}
.rtl.archive.woocommerce ul.products.list li.product .is-countdown {
  left: auto;
  right: 0;
}
.rtl.single-product #content-wrap div.product .entry-summary .compare::before {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .entry-summary form.cart .btn-single-page .btn-inner {
  float: right;
}
.rtl .entry-summary form.cart .btn-single-page .btn-inner:first-child {
  margin-left: 10px;
  margin-right: 0;
}
.rtl .title-blog h2 {
  text-align: right;
}
.rtl.woocommerce div.product .summary .added_to_cart {
  margin-right: 0;
}
.rtl.woocommerce .products .product .tinvwl_add_to_wishlist_button::before,
.rtl .woocommerce .products .product .tinvwl_add_to_wishlist_button::before {
  margin-left: -3px;
}
.rtl.woocommerce.woo-left-tabs div.product .woocommerce-tabs ul.tabs {
  text-align: right;
}
.rtl.content-right-sidebar .product-categories li.cat-parent ul.children {
  right: auto;
  left: 100%;
}
.rtl.single-product #content-wrap div.product .entry-summary {
  padding-left: 0;
  padding-right: 30px;
}
.rtl.single-product #content-wrap div.product .entry-summary .tinv-wishlist .tinvwl_add_to_wishlist_button .tinvwl_add_to_wishlist-text {
  padding-left: 0;
  padding-right: 10px;
}
.rtl.content-left-sidebar .widget-area.sidebar-primary {
  padding-left: 15px;
}
.rtl.content-left-sidebar .content-area {
  padding-right: 15px;
}
.rtl .wvn-qv-container .wvn-qv-content-inner div.product.product-type-external .entry-summary .single_add_to_cart_button,
.rtl .wvn-qv-container .wvn-qv-content-inner div.product.product-type-grouped .entry-summary form.cart .single_add_to_cart_button {
  float: right !important;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .wvn-qv-container .wvn-qv-content-inner div.product.product-type-external .entry-summary .tinv-wraper,
.rtl .wvn-qv-container .wvn-qv-content-inner div.product.product-type-grouped .entry-summary form.cart .tinv-wraper {
  float: right;
}
.rtl .entry-summary form.cart .single_add_to_cart_button {
  float: none !important;
}
.rtl.woocommerce ul.products li.product .added_to_cart::before,
.rtl .woocommerce ul.products li.product .added_to_cart::before {
  display: none;
}
.rtl .btn-inner .tooltip::before {
  border-left: 5px solid #2cb8a5;
  border-right: none;
}
.rtl .blog-carousel .wew-carousel .slick-next {
  left: 0;
}
.rtl .blog-carousel .wew-carousel .slick-prev {
  right: 0;
}
.rtl.content-right-sidebar .content-area {
  padding-right: 0;
}
.rtl #footer-bottom #footer-bottom-menu ul.menu li:last-child {
  margin-left: 0;
}
.rtl #footer-widgets .woovina-custom-links li a::before {
  content: '\f1b0' !important;
  transform: rotate(-43deg);
}
.rtl #copyright {
  direction: ltr;
}
.rtl #footer-bottom #footer-bottom-menu {
  float: left;
}
/* Style Preloader */
.woovina-page-loader .wvp-loader-thirteen .thirteen-spinner:nth-child(2) {
  border-right: 4px solid #2cb8a5;
  border-bottom: 4px solid #2cb8a5;
}
.woovina-page-loader .wvp-loader-nine::before,
.woovina-page-loader .wvp-loader-nine span {
  background-color: #2cb8a5;
}
.woovina-page-loader .wvp-loader-nine::after {
  border-color: #2cb8a5;
}
.woovina-page-loader .wvp-loader-seven .box1,
.woovina-page-loader .wvp-loader-seven .box2,
.woovina-page-loader .wvp-loader-seven .box3 {
  border-color: #2cb8a5;
}
.woovina-page-loader .wvp-loader-eight svg defs #gradient > stop:nth-child(2) {
  stop-color: #2cb8a5 !important;
}
.woovina-page-loader .wvp-loader-ten .blob-2 {
  background-color: #2cb8a5;
}
.woovina-page-loader .wvp-loader-twelve .twelve-spinner {
  border-top: 4px solid #2cb8a5;
  border-bottom: 4px solid #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-one {
  border-top: 1px solid rgba(240, 206, 21, 0.1);
  border-right: 1px solid rgba(240, 206, 21, 0.1);
  border-bottom: 1px solid rgba(240, 206, 21, 0.1);
  border-left: 1px solid rgba(240, 206, 21, 0.8);
}
.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(2) {
  background: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(3) {
  background: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(4) {
  background: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-two span:nth-child(1) {
  background: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-three span {
  background: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-four .spinner-cube {
  background-color: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-five .spinner-cube:before {
  background-color: #2cb8a5;
}
.woovina-page-loader .woovina-loader.wvp-loader-six .spinner-cube-1,
.woovina-page-loader .woovina-loader.wvp-loader-six .spinner-cube-2 {
  background-color: #2cb8a5;
  opacity: 0.8;
  /* IE8 filter*/
  filter: alpha(opacity=80);
}
@-webkit-keyframes spinner-three {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #2cb8a5;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
}
@keyframes spinner-three {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #2cb8a5;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #2cb8a5;
  }
}
/*Style-Dokan*/
/*Menu*/
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.active,
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
  background-color: #2cb8a5 !important;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links:hover {
  background-color: transparent !important;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover {
  background-color: #2cb8a5 !important;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
  text-align: center;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a i {
  padding-right: 0;
}
.dokan-dashboard-content .dokan-add-product-link a.dokan-btn-theme,
.dokan-dashboard-content .dokan-dashboard-product-listing-wrapper #bulk-product-action {
  background-color: #222;
  border-color: #222;
}
.dokan-dashboard-content .dokan-dashboard-product-listing-wrapper #bulk-product-action:hover {
  background-color: #2cb8a5;
  border-color: #2cb8a5;
}
.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .row-actions .delete a {
  color: #222;
}
.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .row-actions .delete a:hover {
  color: #2cb8a5;
}
.dokan-dashboard .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu > li a {
  padding: 10px 18px 10px 18px;
}
/*End Menu*/
.dokan-dashboard .dokan-dashboard-content ul.list-unstyled li {
  margin: 0 10px;
}
.dokan-orders-area .dokan-error,
.dashboard-coupons-area .dokan-error,
.seller-listing-content .dokan-error,
.dokan-support-topics-list .dokan-error {
  border-top: 3px solid #2cb8a5;
}
.dokan-orders-area .dokan-error::before,
.dashboard-coupons-area .dokan-error::before,
.seller-listing-content .dokan-error::before,
.dokan-support-topics-list .dokan-error::before {
  background-color: #2cb8a5;
}
.single-page-article p.dokan-info {
  background-color: #fff;
  border-top: 3px solid #2cb8a5;
  color: #222;
}
.single-page-article p.dokan-info::before {
  background-color: #2cb8a5;
}
input[type="submit"].dokan-btn-success,
a.dokan-btn-success,
.dokan-btn-success {
  background-color: #222;
  border-color: #222;
}
input[type="submit"].dokan-btn-success:focus,
a.dokan-btn-success:focus,
.dokan-btn-success:focus,
input[type="submit"].dokan-btn-success:hover,
a.dokan-btn-success:hover,
.dokan-btn-success:hover {
  background-color: #2cb8a5;
  border-color: #2cb8a5;
}
.dokan-form-inline input[type="submit"].dokan-btn-success,
.dokan-form-inline a.dokan-btn-success,
.dokan-form-inline .dokan-btn-succes {
  margin-top: 30px;
}
.dokan-form-inline .dokan-form-group input[type="submit"].dokan-btn-success,
.dokan-form-inline .dokan-form-group a.dokan-btn-success,
.dokan-form-inline .dokan-form-group .dokan-btn-succes {
  margin-top: 10px;
}
.dokan-banner .image-wrap {
  width: 100%;
  height: 100%;
}
.dokan-banner .image-wrap .dokan-banner-img {
  height: 100%;
}
#dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-content .store-info .featured-favourite .featured-label {
  background-color: #2cb8a5;
}
.dokan-store.woocommerce .sidebar-container ul {
  padding: 0 10px;
}
body #dokan_comments-form .dokan-btn-theme {
  margin-top: 10px;
}
.dokan-product-listing .dokan-product-listing-area .product-listing-top ul.dokan-listing-filter li:not(:first-child) {
  margin-left: 6px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type="submit"].weforms_submit_btn {
  background: #222;
  border-color: #222 #222 #222;
  box-shadow: 0 1px 0 #222;
  text-shadow: 0 -1px 1px #222222, 1px 0 1px #222222, 0 1px 1px #222222, -1px 0 1px #222222;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type="submit"].weforms_submit_btn:hover {
  background: #2cb8a5;
  border-color: #2cb8a5 #2cb8a5 #2cb8a5;
  box-shadow: 0 1px 0 #2cb8a5;
  text-shadow: 0 -1px 1px #2cb8a5, 1px 0 1px #2cb8a5, 0 1px 1px #2cb8a5, -1px 0 1px #2cb8a5;
}
#dokan-seller-listing-wrap {
  margin-left: 0;
  margin-right: 0;
}
.dokan-form-group select.dokan-form-control {
  background-size: 8px!important;
  background-position: 95%!important;
  height: 36px;
  background: url(../img/down-arrow-black.png) center right no-repeat;
  background-position-x: right;
  background-position-y: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body input[type="submit"].dokan-btn-theme,
body a.dokan-btn-theme,
body .dokan-btn-theme {
  background-color: #fff!important;
  color: #2cb8a5 !important;
  border: 2px solid #2cb8a5 !important;
  border-radius: 22px;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 20px;
  line-height: 1;
}
body input[type="submit"].dokan-btn-theme:hover,
body a.dokan-btn-theme:hover,
body .dokan-btn-theme:hover,
body input[type="submit"].dokan-btn-theme:focus,
body a.dokan-btn-theme:focus,
body .dokan-btn-theme:focus,
body input[type="submit"].dokan-btn-theme:active,
body a.dokan-btn-theme:active,
body .dokan-btn-theme:active,
body input[type="submit"].dokan-btn-theme.active,
body a.dokan-btn-theme.active,
.dokan-btn-theme.active,
body .open .dropdown-toggleinput[type="submit"].dokan-btn-theme,
body .open .dropdown-togglea.dokan-btn-theme,
body .open .dropdown-toggle.dokan-btn-theme {
  background-color: #2cb8a5 !important;
  border-color: #2cb8a5 !important;
}
.dokan-form-group input[type="text"] {
  min-height: 36px;
  line-height: 1;
  border-radius: 0;
}
form input[type="number"]#dokan_store_ppp {
  padding: 0;
  text-align: center;
}
/*Pagination*/
div.pagination-wrap ul.pagination > li {
  display: inline-block;
  margin-right: 5px !important;
}
.pagination-wrap ul.pagination > li > span.page-numbers.current,
.pagination-wrap ul.pagination > li > a.page-numbers:hover {
  border-color: #2cb8a5;
  background-color: #2cb8a5;
  color: #ffffff;
}
.dokan-pagination-container ul.dokan-pagination li a {
  background-color: #fff;
  margin-right: 7px;
}
.dokan-pagination-container ul.dokan-pagination li.active a,
.dokan-pagination-container ul.dokan-pagination li a:hover {
  background-color: #2cb8a5;
  color: #ffffff;
  border-color: #2cb8a5;
}
/*dokan-single-product*/
.woocommerce-tabs #tab-seller .clearfix .seller-rating > .star-rating {
  float: left;
}
.woocommerce-tabs #tab-seller .clearfix > .text {
  float: left;
  width: 100%;
}
/*store*/
.dokan-single-store .dokan-store-tabs ul.dokan-list-inline li a:hover {
  background-color: #2cb8a5;
  color: #ffffff;
}
.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery {
  padding-left: 20px;
  padding-right: 20px;
}
.dokan-single-store .dokan-store-tabs ul.dokan-list-inline li.dokan-right {
  border-right: 0;
}
.dokan-store-sidebar .widget:not(:first-child) {
  margin-top: 30px;
}
form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
  color: #787878!important;
  border-color: #2cb8a5 !important;
}
/*order*/
.dokan-form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
/*rtl-dokan*/
.rtl.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:not(.dokan-common-links) a i {
  padding-right: 0;
  padding-left: 15px;
}
.rtl .pull-right {
  float: left;
}
.rtl.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
  float: right;
}
.rtl .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link {
  float: left;
}
.rtl .dokan-product-listing .dokan-product-listing-area .product-listing-top ul.dokan-listing-filter li {
  padding-right: 0;
  padding-left: 10px;
  border-right: 0;
  border-left: 1px solid #EDEDED;
}
.rtl .dokan-product-listing .dokan-product-listing-area .product-listing-top ul.dokan-listing-filter li:last-child {
  border: 0;
}
.rtl .dokan-product-listing .dokan-product-listing-area .product-listing-top ul.dokan-listing-filter li:not(:first-child) {
  margin-left: 0;
  margin-right: 6px;
}
.rtl .dokan-form-group select.dokan-form-control {
  background-position: 5% !important;
}
.rtl .dokan-form-inline .dokan-form-group {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
.rtl .dokan-right-margin-30 {
  margin-left: 30px;
  margin-right: 0;
}
.rtl .dokan-form-group .checkbox input[type="checkbox"] {
  float: none;
  margin: -3px 0px 0 10px !important;
}
.rtl .dokan-orders-content .dokan-orders-area ul.order-statuses-filter {
  margin-right: 0;
}
.rtl .dokan-orders-content .dokan-orders-area ul.order-statuses-filter li {
  border-right: 0;
  border-left: 1px solid #EDEDED;
}
.rtl .dokan-orders-content .dokan-orders-area ul.order-statuses-filter li:last-child {
  border: 0;
}
/*End dokan*/
/*=================END==================*/
